<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>The Village</title>
<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,800" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.min.css">

<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="css/menu.css" rel="stylesheet"> 
<link href="css/login-style.css" rel="stylesheet"> 

</head>

<body>

    <div class="form-body without-side">
        <div class="website-logo">
            
                <div class="logo">
                    <img class="logo-size" src="images/khan-law.png" alt="">
                </div>
 
        </div>
        <div class="row">
 
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Verification Code</h3>
                        <p>Please enter the verication code that we've sent to your email.</p>
                        <form>
                            <label>Enter the code</label>
                            <input class="form-control" type="text" name="username" placeholder="Enter the code" required> 
                            <div class="form-button">
                                <a href="listing-cards-page.html" class="btn ibtn">Continue</a> 
                            </div>
                        </form>
                         
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="js/jquery-3.3.1.slim.min.js"></script> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap.min.js"></script>

</body>
</html>
