<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Khan LLP</title>
<link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,800" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
<!-- Custom fonts for this template-->
<link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="css/select2.min.css">
<link rel="stylesheet" type="text/css" href="css/select2-bootstrap4.css">
<link href="css/dropify.min.css" rel="stylesheet" type="text/css"/>
<link rel="stylesheet" type="text/css" href="css/style.css">
<link rel="stylesheet" type="text/css" href="css/menu.css">
</head>

<body id="page-top">
<style>
.pocPROFILE {
	font-size: 14px;
	padding: 15px 20px;
	line-height: 22px
}
.pocPROFILE h3 {
	font-size: 18px;
	margin: 0
}
.pocPROFILE h2 {
	font-size: 15px
}
.pocPic img {
	position: relative;
	width: 70px;
	height: 70px;
	height: auto;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 20px 0 rgba(103,92,139,.25);
	box-shadow: 0 0 20px 0 rgba(103,92,139,.25);
}
.pocPROFILE .rightCont {
	letter-spacing: 1px;
	text-align: right
}
.pocPROFILE .rightCont .POCPH {
	font-size: 16px;
	display: block
}
.pocPROFILE .rightCont .POCPH strong {
	width: 108px;
	display: inline-block
}
.rightCont a {
	color: #EBB30A
}
.rightCont a:HOVER {
	text-decoration: underline
}
.pocPROFILE .form-control {
	box-shadow: none;
	height: 33px;
}
.pocPROFILE .infoDiv {
	background-color: #f9f9f9;
	padding: 5px;
	margin-bottom: 8px;
}
.pocPROFILE .infoDiv .control-label {
	font-size: 13px;
	color: #7d7d7d!important; line-height: normal;
	margin-bottom: 0
}
.pocPROFILE .infoDiv p {
	font-size: 14px;
	color: #282828; line-height: normal;
	margin-bottom: 0
}
.pocPROFILE .p-col-L {
	padding-right: 4px
}
.pocPROFILE .p-col-R {
	padding-left: 4px
}
.ADD-border {
	border: solid 1px #ededed;
	padding: 10px 10px 4px 10px
}
.pocPROFILE .header {
	color: #424242;
	padding: 20px 0px;
	position: relative;
	box-shadow: none;
	background: none;
	border-bottom: solid 2px #ededed;
	margin-bottom: 5px;
	padding: 10px 0px;
}
.pocPROFILE .fa {
	color: #EBB30A
}
.POCBCard {
	width: 310px;
	height: auto
}
.PT-25 {
	padding-top: 25px!important
}
.pocPROFILE .dropify-wrapper {
	height: 130px;
	width: 130px;  
}
.label-update {
	background: #EBB30A;
	color: #fff;
	text-align: center;
	font-size: 11px;
	line-height: 1;
	padding: 3px;
	margin-top: -24px; margin-left:7px;  
	z-index: 5;
	position: relative; width: 50px
}
.pocPROFILE .dropify-message p {
	letter-spacing: 0;
}
._ch-pass {
	padding-top: 28px
}
.pocPROFILE .btn-primary, .pocPROFILE .btn-cancel {
	font-size: 13px
}
.change-password {
	box-shadow: none;
	padding: 15px;
	border: 1px solid rgba(0,0,0,.1);
} 
.cp-close {
	line-height: 1;
	padding: 5px;
	position: absolute;
	right: -5px;
	top: -4px;
	opacity: .4;
	filter: grayscale(1)
}
.nam-title{font-size: 18px; margin-top: 15px; display: inline-block; letter-spacing: 1px}
.con_info p{margin: 0; letter-spacing: 1.2px}
.btn-edit-p{padding: 6px 14px 6px 14px;letter-spacing: 1px;font-size: 13px;line-height: 1; margin-top: -5px; float: right; margin-left: 10px}
.btn-edit-line {
    color: #040725;
    background: #fff;
    border: 1px solid #040725;
}
.link-doc{border-bottom: solid 1px #EBEBEB; color: #282828; display:block; padding-top:5px; padding-bottom:5px;text-decoration:underline}
.link-doc p{line-height:1.3rem; height:1.3rem; overflow:hidden; text-overflow:ellipsis; -webkit-box-orient:vertical; -webkit-line-clamp:1; font-size:13px; font-: 		;weight:normal; margin-bottom: 0px
}
.link-doc p img	{width:18px; height:18px; filter: invert(); margin-right:8px; opacity: 0.5}
.btn-primary{letter-spacing: 1px}
	
.line-none h2:before {
   display: none;
}

</style>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content top_border">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" align="center">Verification <span>Form Approve</span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> <span aria-hidden="true">&times;</span> </button>
      </div>
      <div class="modal-body confir_pay">
        <div class="check_mark">
          <div class="sa-icon sa-success animate"> <span class="sa-line sa-tip animateSuccessTip"></span> <span class="sa-line sa-long animateSuccessLong"></span>
            <div class="sa-placeholder"></div>
            <div class="sa-fix"></div>
          </div>
        </div>
        <p align="center"><strong>Are you sure you want to approve verification form?</strong></p>
      </div>
      <div class="modal-footer border-0">
        <div style="display: block; text-align: center; margin: auto">
          <button type="button" class="btn btn-primary">Yes</button>
          <button type="submit" class="btn btn-cancel" data-dismiss="modal" aria-label="Close">No</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="overlay"></div>
<div class="sidebarblue">
  <div class="aside-primary">
    <div class="sell360"><a href="index.html"><img alt="Khan LLP" src="images/khan-law.png"></a></div>
    <div class="main-links">
      <ul>
        <li><a><img src="images/search-icon.svg" alt=""/> Search</a></li>
        <li><a><img src="images/add-pluse-icon.svg" alt=""/> Create New</a></li>
        <li><a><img src="images/dashboard-icon.svg" alt=""/> Dashboard</a></li>
        <hr>
       
        <li><a><img src="images/emp-icon.svg" alt=""/> Users</a></li>
        <li><a><img src="images/customer-icon.svg" alt=""/> Contacts</a></li>
        <li><a><img src="images/performa-icon.svg" alt=""/> Services</a></li>
        <li><a><img src="images/order-icon.svg" alt=""/> Case Files</a></li>
        <li><a><img src="images/shope-channel-icon.svg" alt=""/> Properties</a></li> 
      </ul>
    </div>
    <div class="_user-nav"> <a href="javascript:void(0);"><img src="images/bell-icon-2.svg" alt="Notification" title="Notification"/><span class="badge">4</span></a> <a href="javascript:void(0);" class="userIMG"><img src="images/avatar.svg" alt=""/></a> <a href="javascript:void(0);" class="float-right"><img src="images/setting-icon.svg" alt="Setting" title="Setting"/></a> </div>
    <div class="sidebar-BL">
      <ul>
        <!-- <li><a href="javascript:void(0);"><img src="images/task-icon.svg" alt=""/> Tasks <span class="badge">13</span></a></li> -->
        <li><a href="javascript:void(0);"><img src="images/activity-icon.svg" alt="Employee"/> Activities <span class="badge">4</span></a></li>
        <li><a href="javascript:void(0);"><img src="images/logout-icon.svg" alt="Employee"/> Logout</a></li>
      </ul>
    </div>
  </div>
</div>

<!-- <div id="_subNav-id">
  <div class="_subNav"> <a id="SN-close" class="SN-close-btn"><i class="fa fa-arrow-left"></i></a>
    <h2>Creat New</h2>
    <ul>
      <li><a href="javascript:void(0);"><img src="images/task-icon.svg" alt=""/>Task</a></li>
      <li><a href="javascript:void(0);"><img src="images/order-icon.svg" alt=""/>Order</a></li>
      <li><a href="javascript:void(0);"><img src="images/emp-icon.svg" alt=""/>Emplyee</a></li>
      <li><a href="javascript:void(0);"><img src="images/customer-icon.svg" alt=""/>Customer</a></li>
      <li><a href="javascript:void(0);"><img src="images/product-icon.svg" alt=""/>Product</a></li>
      <li><a href="javascript:void(0);"><img src="images/shippers-icon.svg" alt=""/>Shippers</a></li>
      <li><a href="javascript:void(0);"><img src="images/supplier-icon.svg" alt=""/>Supplier</a></li>
      <li><a href="javascript:void(0);"><img src="images/payment-icon.svg" alt=""/>Payment</a></li>
      <li><a href="javascript:void(0);"><img src="images/invoice-icon.svg" alt=""/>Invoices</a></li>
    </ul>
  </div>
</div> -->

<div id="wrapper">
  <div id="content-wrapper">
    <div class="overlay-blure"></div>
    <div class="container">
      <div class="row mt-2 mb-2">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <h2 class="_head01">Client Identification <span>& Verification Form</span></h2>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">          
          <button class="btn btn-primary btn-edit-p btn-edit-line">Edit Profile</button>
          <button data-toggle="modal" data-target="#exampleModal" class="btn btn-primary btn-edit-p">Approve</button>
        </div>
      </div>
      <div class="row">

        <div class="col-md-8">
          <div class="card">
            <div class="body pocPROFILE">
              <div class="row">
                <div class="col-12">
                  <div class="header pt-0">
                    <h2>Basic Information  <span>of the Primary Client:</span></h2>
                  </div>
                </div>
            
                <div class="col-12">
                  <div class="form-wrap p-0">
                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">First Name</label>
                          <p><strong>Latika</strong></p>
                        </div>
                      </div>
                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Middle Name</label>
                          <p><strong>Yasmin</strong></p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Last Name</label>
                          <p><strong>Khan</strong></p>
                        </div>
                      </div>
                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Gender</label>
                          <p><strong>Female</strong></p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Date of Birth</label>
                          <p><strong>22/02/1984</strong></p>
                        </div>
                      </div>
                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Residency Status</label>
                          <p><strong>Canadian</strong></p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Home Address</label>
                          <p><strong>1105, 57 Charles St. West, Toronto, ON  </strong></p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Home Phone Number</label>
                          <p><strong>555 555 547</strong></p>
                        </div>
                      </div>
                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Cell Phone Number</label>
                          <p><strong>555 555 547</strong></p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Email</label>
                          <p><strong>latika@gmail.com</strong></p>
                        </div>
                      </div>
                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">City</label>
                          <p><strong>Toronto</strong></p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Province/State</label>
                          <p><strong>Ontario</strong></p>
                        </div>
                      </div>
                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Postal Code</label>
                          <p><strong>V3W15N</strong></p>
                        </div>
                      </div>
                    </div>

 
                  </div>
                </div>
 
                <div class="col-12">
                  <div class="header">
                    <h2>Employment <span>Information</span></h2>
                  </div>
                </div>
                <div class="col-12 mb-15">
                  <div class="form-wrap p-0">
                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Occupation</label>
                          <p><strong>Employed</strong></p>
                        </div>
                      </div>
                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Company Name</label>
                          <p><strong>Company Name</strong></p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Phone Number</label>
                          <p><strong>+1 254-254-5555</strong></p>
                        </div>
                      </div>

                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Job Titles</label>
                          <p><strong>salesman</strong></p>
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Address</label>
                          <p><strong>1105, 57 Charles St. West, Toronto, ON</strong></p>
                        </div>
                      </div> 
                      
                    </div>

                  </div>
                </div>
        
      



                <div class="col-12">
                  <div class="header">
                    <h2>Marital <span>Status</span></h2>
                  </div>
                </div>
                <div class="col-12 mb-15">
                  <div class="form-wrap p-0">
                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Marital Status</label>
                          <p><strong>Married</strong></p>
                        </div>
                      </div>
                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Spouse/Partners First Name</label>
                          <p><strong>Latika</strong></p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Spouse/Partners Middle Name</label>
                          <p><strong>Yasmin</strong></p>
                        </div>
                      </div>

                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Spouse/Partners Last Name</label>
                          <p><strong>Khan</strong></p>
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Gender</label>
                          <p><strong>Female</strong></p>
                        </div>
                      </div>

                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Email</label>
                          <p><strong>latika@gmail.com</strong></p>
                        </div>
                      </div>

                    </div>

                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Home Phone Number</label>
                          <p><strong>+1 254-254-5555</strong></p>
                        </div>
                      </div>

                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Cell Phone Number</label>
                          <p><strong>+1 545 222 8785</strong></p>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>


                <div class="col-12">
                  <div class="header">
                    <h2>Capacity <span></span></h2>
                  </div>
                </div>
                <div class="col-12 mb-15">
                  <div class="form-wrap p-0">
                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Tenancy Type</label>
                          <p><strong>Tenants in Common</strong></p>
                        </div>
                      </div>
                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Property status</label>
                          <p><strong>Primary Home</strong></p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Are you a first time home buyer?</label>
                          <p><strong>Yes</strong></p>
                        </div>
                      </div>

                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Has your spouse ever owned a home?</label>
                          <p><strong>Yes</strong></p>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>



                <div class="col-12">
                  <div class="header">
                    <h2>Consent <span>& Sign-off</span></h2>
                  </div>
                </div>
                <div class="col-12 mb-15">
                  <div class="form-wrap p-0">
                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Consent to Electronically share the info with bank and Title insurance as required</label>
                          <p><strong>.</strong></p>
                        </div>
                      </div>
                      <div class="col-md-6 p-col-R">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Consent to send information via email to email provided: (initial)</label>
                          <p><strong>.</strong></p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-12">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Were YOU physically present in Canada for 183 days out of the 12-month period prior to the date the conveyance is tendered for registration? *</label>
                          <p><strong>Yes</strong></p>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6 p-col-L">
                        <div class="infoDiv">
                          <label class="control-label mb-5">Client Signature (type your name)</label>
                          <p><strong>Latika Yasmin</strong></p>
                        </div>
                      </div> 
                    </div>


                  </div>
                </div>





                <div class="col-12">
                  <div class="header">
                    <h2>Required <span>Document</span></h2>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="infoDiv">
                    <label class="control-label mb-5">Property Insurance</label>
                    <p><strong>Insurance</strong></p>
                  </div>
                </div>
                <div class="col-12 mb-15">
                  <div class="row PT-10">
                    <div class="col-md-6"> <a href="javascript:void(0);" class="link-doc">
                      <p><img src="images/activity-icon.svg" alt="">Mortgage-Instructions.jpg</p>
                      </a> </div>
                    <div class="col-md-6"> <a href="javascript:void(0);" class="link-doc">
                      <p><img src="images/activity-icon.svg" alt="">Void-Cheque.jpg</p>
                      </a> </div>
                    <div class="col-md-6"> <a href="javascript:void(0);" class="link-doc">
                      <p><img src="images/activity-icon.svg" alt="">document-file-name-45454-54.jpg</p>
                      </a> </div>
                    <div class="col-md-6"> <a href="javascript:void(0);" class="link-doc">
                      <p><img src="images/activity-icon.svg" alt="">document-file-name-name-here.jpg</p>
                      </a> </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card">
            <div class="body pocPROFILE">
              <div class="row">
                <div class="col-12">
                  <div class="header pt-0">
                    <h2>Client ID <span>Documents</span></h2>
                  </div>
                </div>

                <div class="col-12">
                  <div class="header line-none">
                    <h2>1. Permanent <span>Residency Card </span></h2>
                  </div>
                </div>
                <div class="col-md-12 mb-5">
                  <div class="infoDiv">
                    <label class="control-label mb-5">Document Number (ID #)</label>
                    <p><strong>035415424187</strong></p>
                  </div>
                </div>

                <div class="col-md-12 mb-15">
                  <div class="infoDiv">
                    <label class="control-label mb-5">Document Expiry</label>
                    <p><strong>4/15/2024</strong></p>
                  </div>
                </div>

                <div class="col-12">
                  <div class="header">
                    <h2>Front<span></span></h2>
                  </div>
                </div>
                <div class="col-md-12 mb-20"><img style="width: 100%; height: 190px" src="images/front-s.jpg" alt=""></div>
                <div class="col-12">
                  <div class="header">
                    <h2>Back <span></span></h2>
                  </div>
                </div>
                <div class="col-md-12"><img style="width: 100%; height: 190px" src="images/back.jpg" alt=""></div>


                <div class="col-12 PT-20">
                  <div class="header line-none">
                    <h2>2. Credit <span>Card </span></h2>
                  </div>
                </div>
                <div class="col-md-12 mb-5">
                  <div class="infoDiv">
                    <label class="control-label mb-5">Document Number (ID #)</label>
                    <p><strong>035415424187</strong></p>
                  </div>
                </div>

                <div class="col-md-12 mb-15">
                  <div class="infoDiv">
                    <label class="control-label mb-5">Document Expiry</label>
                    <p><strong>4/15/2024</strong></p>
                  </div>
                </div>

                <div class="col-12">
                  <div class="header">
                    <h2>Front<span></span></h2>
                  </div>
                </div>
                <div class="col-md-12 mb-20"><img style="width: 100%; height: 190px" src="images/c-card-front.jpg" alt=""></div>
                <div class="col-12">
                  <div class="header">
                    <h2>Back <span></span></h2>
                  </div>
                </div>
                <div class="col-md-12"><img style="width: 100%; height: 190px" src="images/c-card-back.jpg" alt=""></div>


              </div>
            </div>
          </div>
        </div>

        <div class="col-md-12 text-right PT-30">
          <button data-toggle="modal" data-target="#exampleModal" type="submit" class="btn btn-primary mr-2">Approve</button>
          <button type="submit" class="btn btn-primary mr-2">Edit Profile</button>
          <button type="submit" class="btn btn-cancel">Cancel</button>
        </div>
      </div>
    </div>
    <footer class="sticky-footer">
      <div class="container my-auto">
        <div class="copyright text-center my-auto"> 2019 Sell3sixty All rights reserved </div>
      </div>
    </footer>
  </div>
</div>
<script src="js/jquery-3.3.1.slim.min.js"></script> 
<script src="js/popper.min.js"></script> 
<script src="js/bootstrap.min.js"></script> 
<script type="text/javascript" src="js/datatables.min.js"></script> 
<script src="js/select2.min.js"></script> 
<script src="js/bootstrap-datepicker.js"></script> 
<script src="js/dropify.min.js"></script> 
<script src="js/form-file-upload-data.js"></script> 
<script src="js/custom.js"></script> 
<script>$(document).ready(function() {
    $('#example').DataTable();
} );

	
        $(document).ready(function () { 
			
			$('#pl-close, .overlay').on('click', function () {
                $('#product-cl-sec').removeClass('active');
                $('.overlay').removeClass('active');
				$('body').toggleClass('no-scroll')
            });

            $('#productlist01').on('click', function () {
                $('#product-cl-sec').addClass('active');
                $('.overlay').addClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
				$('body').toggleClass('no-scroll')		
            }); 
			
        });
	
	
	
	
	$(document).ready(function () { 			
			$('#SN-close, .overlay-blure').on('click', function () {
                $('#_subNav-id').removeClass('active');
				$('#content-wrapper').removeClass('blur-div');
				$('body').removeClass('no-scroll')
            });
            $('#sidebar-menu').on('click', function () {
                $('#_subNav-id').addClass('active');
				$('#content-wrapper').addClass('blur-div');
				$('body').addClass('no-scroll')
            });	
        });	
	
	
$('.form-control').on('focus blur', function (e) {
  $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
})
.trigger('blur');
$(".formselect").select2();
	
$('.sd-type').select2({
  createTag: function (params) {
    var term = $.trim(params.term);

    if (term === '') {
      return null;
    }

    return {
      id: term,
      text: term,
      newTag: true // add additional parameters
    }
  }
});
	
$('#datepicker').datepicker({
    format: 'mm-dd-yyyy'
});
	
</script>
</body>
</html>
