<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="css/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="css/select2-bootstrap4.css">
    <link href="css/dropify.min.css" rel="stylesheet" type="text/css" />
    <link href="css/dropzone.css" rel="stylesheet" type="text/css" />
    <link href="css/jquery.mCustomScrollbar.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/menu.css">
    <link rel="stylesheet" type="text/css" href="css/services.css">
</head>

<body>


    <div class="sections-sidebar">
        <div class="pr-10">
            <div class="thumb-section">
                <div>header</div>
            </div>
            <div class="thumb-section active">
                <div></div>
            </div>

            <div class="thumb-section">
                <div>
                    <span class="float-left w-100">
                        <span class="spancol spancol-3"></span>
                        <span class="spancol spancol-3"></span>
                        <span class="spancol spancol-3"></span>
                    </span>
                </div>
            </div>

            <div class="thumb-section">
                <div>
                    <span class="float-left w-100">
                        <span class="spancol spancol-2"></span>
                        <span class="spancol spancol-2"></span>
                    </span>
                </div>
            </div>

            <div class="thumb-section">
                <div>
                    <span class="float-left w-100">
                        <span class="spancol spancol-4"></span>
                        <span class="spancol spancol-4"></span>
                        <span class="spancol spancol-4"></span>
                        <span class="spancol spancol-4"></span>
                    </span>
                </div>
            </div>


            <button class="btn btn-primary add-new-section">Add New</button>
        </div>
    </div>

    <div class="wrapper-sec">
        <div class="content-sec">

            <div class="container">
                <div class="row topsec">
                    <div class="col-6">
                        <h2>Select below box for customize</h2>
                    </div>
                    <div class="col-6 text-right">
                        <a href="https://www.allomate.com/design/khan-llp/services-page-sections.html" target="_blank"
                         class="btn btn-primary btn-line btn-back">Preview Page</a>
                        <!-- <button class="btn btn-primary btn-back">Back to dashboard</button> -->
                        <a href="index.html" class="btn btn-primary btn-back">Back to dashboard</a>
                    </div>

                </div>

                <div class="row PB-20">
                    <div class="col-12">
                        <div class="sec-customize">
                            <button class="btn btn-primary sec-customize-btn">Delete Section</button>
                            <button class="btn set-background-btn">Add background</button>
                            <div class="row">
                                <div class="col active">
                                    <div class="col-customize active">
                                        <button class="btn btn-primary">Text</button>
                                    </div>
                                </div> 
                            </div>                          
                        </div>

                        <!-- Add background section -->
                        <!-- <div class="set-background-div">
                            <div class="row">
                            <div class="col-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                                    <label class="custom-control-label" for="customCheck1">Fullwidth</label>
                                </div>
                            </div>

                            <div class="col-3">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck2">
                                    <label class="custom-control-label" for="customCheck2">Remove Padding</label>
                                </div>
                            </div>

                            <div class="col-12">
                                <hr>
                            </div>

                            <div class="col-3">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="control-label mb-5">Select background color</label>
                                            <div class="row">
                                                <div class="col-9 pr-0">
                                                    <input type="text" id="" class="form-control" value="#ed6b4d">
                                                </div>
                                                <div class="col-3 pl-0">
                                                    <input type="color" id="" class="form-control selectcolor"
                                                        value="#ed6b4d">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        </div> -->
                    </div>

                    <div class="col-12">
                        <div class="selectCustomize">
                            <div class="row">
                                <div class="col-auto select-lab"><strong>Select customize</strong> </div>
                                <div class="col-3">
                                    <div class="form-s2">
                                        <select class="form-control formselect" placeholder="Select Customize">
                                            <option>Text</option>
                                            <option>Image</option>
                                            <option>Testimonial</option>
                                            <option>Faqs</option>
                                            <option>Reviews</option>
                                            <option>Locations</option>
                                            <option>Contact Form</option>
                                            <option>Map</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>


                <div class="row">
 
                    
                    <div class="col-8">
                        <h2>Add content</h2>
                        <div class="form-left">
                            <div class="form-group">
                                <div class="right-label"> &lt;h3&gt;Small heading&lt;/h3&gt;</div>
                                <label class="control-label mb-5">Small heading</label>
                                <input type="text" id="" class="form-control" placeholder="" value="">
                            </div>

                            <div class="form-group">
                                <div class="right-label"> &lt;h1&gt;Large heading&lt;/h1&gt;</div>
                                <label class="control-label mb-5">Large heading</label>
                                <input type="text" id="" class="form-control" placeholder="" value="">
                            </div>

                            <div class="form-group">
                                <div class="right-label"> &lt;h3&gt;Bold text&lt;/h3&gt;</div>
                                <label class="control-label mb-5">Bold text</label>
                                <textarea class="proTextarea" rows="6"></textarea>
                            </div>

                            <div class="form-group">
                                <div class="right-label"> &lt;p&gt;Paragraph&lt;/p&gt;</div>
                                <label class="control-label mb-5">Paragraph</label>
                                <textarea class="proTextarea" rows="6"></textarea>
                            </div>

                            <div class="form-group">
                                <div class="right-label"> &lt;style&gt;CSS style&lt;/style&gt;</div>
                                <label class="control-label mb-5">CSS ( .container-5458 )</label>
                                <textarea class="proTextarea" rows="6"></textarea>
                            </div>
                        </div>

                    </div>



                   
                    <div class="col-4">
                        <h2>Add style</h2>
                        
                        <div class="form-right">

                            <div class="row">
                                
                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="control-label mb-5">Select background color</label>
                                        <div class="row">
                                            <div class="col-10 pr-0">
                                                <input type="text" id="" class="form-control" value="#ebebeb">
                                            </div>
                                            <div class="col-2 pl-0">
                                                <input type="color" id="" class="form-control selectcolor"
                                                    value="#ebebeb">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="control-label mb-5">Select text color</label>
                                        <div class="row">
                                            <div class="col-10 pr-0">
                                                <input type="text" id="" class="form-control" value="#ebebeb">
                                            </div>
                                            <div class="col-2 pl-0">
                                                <input type="color" id="" class="form-control selectcolor"
                                                    value="#ebebeb">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 PB-10">
                                    <label class="control-label mb-10 w-100">Align text</label>
                                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                        <label class="btn btn-secondary active">
                                            <input type="radio" name="options" id="option1" autocomplete="off" checked>
                                            <i class="fa fa-align-left"></i>
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option2" autocomplete="off">
                                            <i class="fa fa-align-center"></i>
                                        </label>
                                        <label class="btn btn-secondary">
                                            <input type="radio" name="options" id="option3" autocomplete="off">
                                            <i class="fa fa-align-right"></i>
                                        </label>
                                    </div>

                                </div>

                                <div class="col-12">
                                    <hr>
                                </div>

                                <div class="col-12">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="customCheck3">
                                        <label class="custom-control-label" for="customCheck3">Add Button</label>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="control-label mb-5">Button text</label>
                                        <input type="text" id="" class="form-control" value="">
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label mb-5">text color</label>
                                        <div class="row">
                                            <div class="col-8 pr-0">
                                                <input type="text" id="" class="form-control" value="#ebebeb">
                                            </div>
                                            <div class="col-4 pl-0">
                                                <input type="color" id="" class="form-control selectcolor"
                                                    value="#ebebeb">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label class="control-label mb-5">background color</label>
                                        <div class="row">
                                            <div class="col-8 pr-0">
                                                <input type="text" id="" class="form-control" value="#ebebeb">
                                            </div>
                                            <div class="col-4 pl-0">
                                                <input type="color" id="" class="form-control selectcolor"
                                                    value="#ebebeb">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="form-group">
                                        <label class="control-label mb-5">Button URL</label>
                                        <input type="text" id="" class="form-control" value="">
                                    </div>
                                </div>



                            </div>

                        </div>

                    </div>
                    
                    <div class="col-12 pt-10">
                        <div class="action-btn">
                            <a href="services-sections-page-003.html" class="btn btn-primary mr-1">Save</a>
                            <button class="btn btn-primary btn-cancel">Cancel</button>
                        </div>
                    </div>

                </div>



            </div>

        </div>
    </div>


    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/datatables.min.js"></script>
    <script src="js/select2.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/dropify.min.js"></script>
    <script src="js/form-file-upload-data.js"></script>
    <script src="js/dropzone.js"></script>
    <script src="js/dropzone-data.js"></script>
    <script src="js/jquery.mCustomScrollbar.min.js"></script>
    <script src="js/custom.js"></script>

    <script>
        $(".formselect").select2();

        (function ($) {
            $(window).on("load", function () {
                $(".sections-sidebar").mCustomScrollbar({ theme: "dark-2" });
            });
        })(jQuery);
    </script>

</body>

</html>