.header-services {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  background-color: #090d26;
  color: #fff;
}

.header-services h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
}

.header-services h2 {
  font-size: 32px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
}

.header-services p {
  font-size: 16px;
  margin-bottom: 20px;
}

.header-services .container {
  padding-top: 90px;
  padding-bottom: 50px;
}

.header-services .container .col-md-7 {
  margin: auto;
}

.header-services .container .services-img {
  margin-bottom: -100px;
  display: block;
  margin-left: auto;
  margin-top: 10px;
}

.without-img .col-lg-5 {
  display: none;
}

.without-img .col-lg-7 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.section-content {
  padding: 50px 0px;
  width: 100%;
}

.section-content h3 {
  font-size: 32px;
  margin-bottom: 0px;
}

.section-content h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  position: relative;
  position: relative;
  margin-bottom: 40px;
}

.section-content h1::before {
  content: '';
  position: absolute;
  display: block;
  bottom: -20px;
  height: 2px;
  width: 28px;
  background: #EBB30A;
  left: 0;
  z-index: 1;
}

.text-center h1::before {
  left: 0;
  right: 0;
  margin: auto;
}

.section-content h4 {
  margin-bottom: 30px;
  display: block;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.section-content p {
  font-size: 16px;
  margin-bottom: 15px;
}

.section-content ul {
  margin: 0;
  padding-left: 30px;
  position: relative;
  list-style: none;
}

.section-content ul li {
  position: relative;
  margin-bottom: 15px;
  text-align: left;
  font-size: 16px;
}

.section-content ul li:before {
  position: absolute;
  content: "";
  left: -30px;
  top: 9px;
  height: 2px;
  width: 12px;
  background: #EBB30A;
}

.section-content img,
.content-col-3 img {
  width: 100%;
  height: auto;
}

.section-content .image-lg {
  margin-bottom: 30px;
  margin-top: 30px;
}

.section-content-btn {
  color: #040725;
  font-size: 14px;
  border-radius: 0;
  text-transform: uppercase;
  font-weight: 600;
  padding: 6px 20px;
  border: solid 2px #EBB30A;
  background-color: #EBB30A;
  margin-top: 20px;
}

.section-content-btn:hover {
  background-color: #EBB30A;
  color: #040725;
  -webkit-transition: all .1s ease;
  transition: all .5s ease
}

.content-col-3 {
  padding: 50px 0px;
  width: 100%;
  letter-spacing: normal;
}

.content-col-3 h3 {
  font-size: 24px;
  margin-bottom: 0px;
}

.content-col-3 h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 15px;
}

.content-col-3 h4 {
  margin-bottom: 30px;
  display: block;
  font-size: 17px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.content-col-3 p {
  font-size: 14px;
  margin-bottom: 15px;
}

.content-col-3 ul,
.faqs-content ul {
  margin: 0;
  padding-left: 30px;
  position: relative;
  list-style: none;
}

.content-col-3 ul li,
.faqs-content ul li {
  position: relative;
  margin-bottom: 15px;
  text-align: left;
  font-size: 14px;
}

.content-col-3 ul li:before,
.faqs-content li:before {
  position: absolute;
  content: "";
  left: -30px;
  top: 9px;
  height: 2px;
  width: 12px;
  background: #EBB30A;
}

.content-col-3 ul li:last-child,
.section-content ul li:last-child,
.faqs-content ul li:last-child {
  margin-bottom: 0;
}


.content-card {
  padding: 35px 0px 35px 0px;
  width: 100%;
}

.content-card .card {
  border-radius: 0 !important;
  border: none;
  padding: 25px;
  overflow: hidden;
  min-height: auto;
  letter-spacing: normal;
  border-bottom: solid 3px #fff;
  margin: 15px 0;

}

.content-card .card:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  border-bottom: solid 3px #EBB30A;
}

.content-card .card h2 {
  font-size: 25px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 15px;
}

.content-card .card h4 {
  margin-bottom: 15px;
  display: block;
  font-size: 15px;
  font-family: Montserrat, sans-serif;
  font-weight: 600;
}

.content-card .card p {
  margin: 0;
  font-size: 14px;
}





.faqs-content {
  padding: 50px 0px;
  width: 100%;
  letter-spacing: normal;
}

.faqs-content .card {
  min-height: auto;
  padding: 0;
}

.shadow-none {
  box-shadow: none !important
}

.faqs-content .card-header .btn-link {
  padding: 10px;
  padding-right: 30px;
  width: 100%;
  text-align: left;
  display: block;
  margin: 0;
  color: #282828;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  white-space: normal;
  letter-spacing: 0.5px;
  font-family: 'Playfair Display', serif;
}

.faqs-content .card-header .btn-link:after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f106';
  font-family: 'FontAwesome';
  color: #282828;
  position: absolute;
  right: 10px;
  top: 26px;
}

.faqs-content .card-header {
  padding: 0px;
  margin-top: 15px;
  border-radius: 0;
}

.faqs-content .card-body {
  font-size: 16px;
}

.faqs-content .card-header .collapsed:after {
  content: '\f107'
}

.faqs-content .card-body h3 {
  margin-bottom: 20px;
}

.reviews-card {
  background-color: #040725;
  color: #fff;
  padding: 50px 30px 30px 30px;
  font-size: 18px;
}

.reviews-card p {
  opacity: 0.85
}

.reviews-card .customer-reviews {
  margin-top: 30px;
}

.reviews-card .customer-reviews h6 {
  font-size: 18px;
}

.reviews-card .review-star {
  color: #EBB30A;
  font-size: 20px;
}

.reviews-card .com-icon {
  position: absolute;
  top: -23px;
  right: 50px;
  width: 70px;
}

.contact-form #floating-label .form-group.focused .control-label {
  color: #040725 !important;
}

.contact-form #floating-label .form-group {
  height: 54px;
  margin-bottom: 10px;
}

.contact-form #floating-label .form-group .form-control {
  border: 1px solid #ced4da;
  color: #040725 !important;
  font-size: 14px;
}

.contact-form #floating-label .control-label {
  transform: translate3d(9px, 27px, 0) scale(1);
}

.contact-form .textarea-message {
  height: 117px !important
}

.contact-form .textarea-message textarea {
  height: 96px !important;
}

.contact-form .section-content-btn {
  margin-top: 0;
}

.form-light-bg {
  background-color: #F8F8F8;
  position: relative;
}

.form-light-bg:before,
.form-dark-bg:before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  top: 0;
  left: -20%;
  height: 100%;
  width: 55%;
  background-color: #fff;
}

.form-dark-bg {
  background-color: #040725;
  position: relative;
  color: #fff;
}

.form-dark-bg #floating-label .form-group.focused .control-label {
  color: #fff !important;
}

.form-dark-bg #floating-label .form-group .form-control,
.form-dark-bg .dropzone {
  border-color: #41455c;
  color: #fff !important;
}

.view-more-link {
  color: #040725;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 6px 0;
  opacity: 0.6;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0;
  display: table;
  border-bottom: solid 1px #bbbbbb;
  border-radius: 0;
}

.view-more-link:hover {
  opacity: 1;
  -webkit-transition: all .1s ease;
  transition: all .5s ease
}


@media (max-width:1440px) {
  .section-content h4 {
    font-size: 18px;
  }

  .content-col-3 h3 {
    font-size: 22px;
  }

  .content-col-3 h1 {
    font-size: 32px;
  }

  .content-col-3 h4 {
    font-size: 16px;
  }

  .form-light-bg::before,
  .form-dark-bg::before {
    width: 50%;
  }
}

@media (max-width:1366px) {
  .section-content h1 {
    font-size: 40px;
  }

  .section-content h3 {
    font-size: 28px;
  }

  .form-light-bg::before,
  .form-dark-bg::before {
    left: -23%;
  }
}


@media (max-width:1024px) {
  .header-services h1 {
    font-size: 40px;
  }

  .header-services h2 {
    font-size: 28px;
  }

  .header-services .container .services-img {
    width: 100%;
  }

  .section-content h3 {
    font-size: 24px;
  }

}

@media (max-width:800px) {
  .header-services h1 {
    font-size: 36px;
  }

  .header-services h2 {
    font-size: 24px;
  }

  .header-services p {
    font-size: 14px;
  }

  .header-services .container {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .section-content h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .section-content h1::before {
    bottom: -15px;
    width: 20px;
  }

  .section-content h3 {
    font-size: 22px;
  }

  .section-content p,
  .section-content ul li {
    font-size: 14px;
  }

  .content-col-3 h3 {
    font-size: 20px;
  }

  .content-col-3 h1 {
    font-size: 30px;
  }

  .form-light-bg::before,
  .form-dark-bg::before {
    left: -1%;
    width: 20%;
  }

  .header-services .container .services-img {
    margin-top: 0;
  }

  .view-more-link {
    font-size: 13px;
    margin-top: 10px;
    opacity: 0.7;
  }
}

@media (max-width:767px) {
  .header-services .row {
    flex-direction: column-reverse;
  }

  .header-services .container .services-img {
    margin-bottom: 20px;
  }

  .header-services .container {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .section-content .col-md-6 {
    padding-bottom: 50px;
  }

  .contact-form .col-md-6 {
    padding-bottom: 0px;
  }

  .section-content .col-md-6:last-child {
    padding-bottom: 0px;
  }

  .section-content h4 {
    font-size: 16px;
  }

  .content-col-3 .col-md-4 {
    padding-bottom: 50px;
  }

  .content-col-3 .col-md-4:last-child {
    padding-bottom: 0px;
  }

  .faqs-content .card-header .btn-link {
    font-size: 16px;
  }

  .faqs-content .card-body {
    font-size: 14px;
    padding: 15px;
  }

  .form-light-bg::before,
  .form-dark-bg::before {
    display: none;
  }

  .contact-form img,
  .faqs-content img {
    margin-bottom: 20px;
  }


}


@media (max-width:480px) {
  .header-services h1 {
    font-size: 30px;
  }

  .header-services h2 {
    font-size: 20px;
  }

  .section-content h1 {
    font-size: 40px;
  }

  .reviews-card .com-icon {
    position: absolute;
    top: -20px;
    right: 40px;
    width: 60px;
  }


}



@media (max-width:479px) {
  .section-content h1 {
    font-size: 30px;
  }

  .section-content-btn {
    font-size: 13px;
  }

  .view-more-link {
    margin-top: 3px;
    letter-spacing: normal;
  }



}

@media (max-width:375px) {

  .view-more-link {
    margin-top: 0;
    font-size: 12px;
  }
  .section-content h1 {
    font-size: 26px;
}
}

@media (max-width:320px) {
  .header-services h1 {
    font-size: 25px;
  }

  .header-services h2 {
    font-size: 18px;
  }

  .section-content h1 {
    font-size: 25px;
  }

  .section-content h3 {
    font-size: 18px;
  }

  .section-content h4 {
    font-size: 14px;
  }

  .content-col-3 h3 {
    font-size: 18px;
  }

  .content-col-3 h1 {
    font-size: 25px;
  }

  .content-col-3 h4 {
    font-size: 14px;
  }
  .section-content h1 {
    font-size: 24px;
}

}