<!DOCTYPE html>
<html lang="en">

<head>

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta charset="utf-8">
  <title>KHAN LAW</title>
  <meta property="og:site_name" content="KHAN LAW" />
  <meta property="og:title" content="KHAN LAW " />
  <meta property="og:url" content="https://www.khanllp.com" />
  <meta property="og:type" content="website" />
  <meta property="og:description"
    content="Khan Law specializes in real estate, family, will &amp; estate law. Headquartered in Milton, with offices in North York and Mississauga, our firm represents clients across the Greater Toronto Area. " />
  <meta property="og:image"
    content="http://static1.squarespace.com/static/5aca7a5836099b27ba4ac309/t/5ae1f867aa4a99ce2f5a47df/1524758632689/Webp.net-resizeimage+%2812%29.png?format=1500w" />
  <meta property="og:image:width" content="200" />
  <meta property="og:image:height" content="35" />
  <meta itemprop="name" content="KHAN LAW " />
  <meta itemprop="url" content="https://www.khanllp.com" />
  <meta itemprop="description"
    content="Khan Law specializes in real estate, family, will &amp; estate law. Headquartered in Milton, with offices in North York and Mississauga, our firm represents clients across the Greater Toronto Area. " />
  <meta itemprop="thumbnailUrl"
    content="http://static1.squarespace.com/static/5aca7a5836099b27ba4ac309/t/5ae1f867aa4a99ce2f5a47df/1524758632689/Webp.net-resizeimage+%2812%29.png?format=1500w" />
  <link rel="image_src"
    href="http://static1.squarespace.com/static/5aca7a5836099b27ba4ac309/t/5ae1f867aa4a99ce2f5a47df/1524758632689/Webp.net-resizeimage+%2812%29.png?format=1500w" />
  <meta itemprop="image"
    content="http://static1.squarespace.com/static/5aca7a5836099b27ba4ac309/t/5ae1f867aa4a99ce2f5a47df/1524758632689/Webp.net-resizeimage+%2812%29.png?format=1500w" />
  <meta name="twitter:title" content="KHAN LAW " />
  <meta name="twitter:image"
    content="http://static1.squarespace.com/static/5aca7a5836099b27ba4ac309/t/5ae1f867aa4a99ce2f5a47df/1524758632689/Webp.net-resizeimage+%2812%29.png?format=1500w" />
  <meta name="twitter:url" content="https://www.khanllp.com" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description"
    content="Khan Law specializes in real estate, family, will &amp; estate law. Headquartered in Milton, with offices in North York and Mississauga, our firm represents clients across the Greater Toronto Area. " />
  <meta name="description" content="Khan Law specializes in real estate, family, will &amp; estate 
law. Headquartered in Milton, with offices in North York and Mississauga, 
our firm represents clients across the Greater Toronto Area. " />

  <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Playfair+Display:ital,wght@0,600;0,700;0,800;0,900;1,400;1,500;1,600&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="css/datepicker.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/animate.css">

</head>

<body>
 <style>
.success-div {
    position: absolute;
    display: table;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}
.success-div .success-msg {
    background-color: #fff;
    border-radius: 0.313rem;
    padding: 2.5rem 1rem 2.5rem 1rem;
    margin: auto;
    max-width: 34.375rem;
    box-shadow: 0 0 1.3rem 0 rgba(0, 0, 0, 0.2);
    position: relative;
}
.success-div .success-msg img {
    width: 4.75rem;
    margin-bottom: 15px;
}
.success-div .success-msg h1 {
    color: #009245 ;
    font-size: 32px;
    margin-bottom: 2.188rem;
    position: relative;
}
.success-div .success-msg h1::before {
    border-top: 0.063rem solid #EBB30A;
    content: "";
    left: 50%; right: 0;
    bottom: -0.938rem;
    position: absolute;
    width: 3.125rem;
    transform: translate(-50%, 0);
}
.success-div .success-msg h4 {
    font-size: 1.125rem;
    margin-bottom: 0;
}
@media (max-width: 480px) {
    .success-div{padding: 15px;}
    .success-div .success-msg { 
    padding: 2rem 1rem 2rem 1rem;
}
}

</style>
 


  <div class="content-wrapper">




    <div class="w-section bg-gray BGP email-section">
      <div class="email-header">
        <div class="container">
          <div class="row">
            <div class="col-auto pl-0"><a href="index.html"><img class="e-logo" alt="" src="images/khan-law.png"></a>
            </div>
            <div class="col email-phone pr-0"><i class="fa fa-phone"></i> (+1) 647-643-5426</div>
          </div>
        </div>
      </div>

      <div class="container">
       
        
        <div class="success-div"> 
	
            <div class="success-msg">
             <div class="set-z-index">
            <img src="images/form-avatar-icon.svg" alt="">
            <h1 class="green-text">Thank You</h1>	
            <h4>Data Successfully Submitted, We Review Your Details and Contact Back Soon.</h4>
            </div>	
         
            </div>
            
            
            
        </div>


 
      </div>
    </div>


    <div class="email-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">Copyright © 2022 khanllp.org. All Rights Reserved.</div>
        </div>
      </div>
    </div>


  </div>


  <script src="js/jquery-3.4.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.nicescroll.min.js"></script>
  <script src="js/bootstrap-datepicker.js"></script>
  <script src="js/wow.js"></script>




  <script>
    document.querySelector("#nav-toggle")
      .addEventListener("click", function () {
        this.classList.toggle("active");
      });

    $(document).ready(function () {
      $('.navbar-dark .dmenu, .top_nav .dmenu').hover(function () {
        $(this).find('.sm-menu').first().stop(true, true).slideDown(180);
      }, function () {
        $(this).find('.sm-menu').first().stop(true, true).slideUp(100)
      });
    });

    Headerfix = document.getElementById("topHeader");

    var myScrollFunc = function () {
      var y = window.scrollY;
      if (y >= 250) {
        topHeader.className = "topheader n-hiden"
      } else {
        topHeader.className = "topheader n-show"
      }
    };

    window.addEventListener("scroll", myScrollFunc);


    $('.form-control').on('focus blur', function (e) {
      $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
    }).trigger('blur');

    $('._datepicker').datepicker({
      format: 'mm-dd-yyyy'
    });


    wow = new WOW(
      {
        animateClass: 'animated',
        offset: 50,
        callback: function (box) {
          console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
        }
      }
    );

    wow.init();

  </script>




</body>

</html>