<!DOCTYPE html>
<html lang="en">

<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta charset="utf-8">
    <title>KHAN LAW</title>
    <meta property="og:site_name" content="KHAN LAW" />
    <meta property="og:title" content="KHAN LAW " />
    <meta property="og:url" content="https://www.khanllp.com" />
    <meta property="og:type" content="website" />
    <meta property="og:description"
        content="Khan Law specializes in real estate, family, will &amp; estate law. Headquartered in Milton, with offices in North York and Mississauga, our firm represents clients across the Greater Toronto Area. " />
    <meta property="og:image"
        content="http://static1.squarespace.com/static/5aca7a5836099b27ba4ac309/t/5ae1f867aa4a99ce2f5a47df/1524758632689/Webp.net-resizeimage+%2812%29.png?format=1500w" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="35" />
    <meta itemprop="name" content="KHAN LAW " />
    <meta itemprop="url" content="https://www.khanllp.com" />
    <meta itemprop="description"
        content="Khan Law specializes in real estate, family, will &amp; estate law. Headquartered in Milton, with offices in North York and Mississauga, our firm represents clients across the Greater Toronto Area. " />
    <meta itemprop="thumbnailUrl"
        content="http://static1.squarespace.com/static/5aca7a5836099b27ba4ac309/t/5ae1f867aa4a99ce2f5a47df/1524758632689/Webp.net-resizeimage+%2812%29.png?format=1500w" />
    <link rel="image_src"
        href="http://static1.squarespace.com/static/5aca7a5836099b27ba4ac309/t/5ae1f867aa4a99ce2f5a47df/1524758632689/Webp.net-resizeimage+%2812%29.png?format=1500w" />
    <meta itemprop="image"
        content="http://static1.squarespace.com/static/5aca7a5836099b27ba4ac309/t/5ae1f867aa4a99ce2f5a47df/1524758632689/Webp.net-resizeimage+%2812%29.png?format=1500w" />
    <meta name="twitter:title" content="KHAN LAW " />
    <meta name="twitter:image"
        content="http://static1.squarespace.com/static/5aca7a5836099b27ba4ac309/t/5ae1f867aa4a99ce2f5a47df/1524758632689/Webp.net-resizeimage+%2812%29.png?format=1500w" />
    <meta name="twitter:url" content="https://www.khanllp.com" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description"
        content="Khan Law specializes in real estate, family, will &amp; estate law. Headquartered in Milton, with offices in North York and Mississauga, our firm represents clients across the Greater Toronto Area. " />
    <meta name="description" content="Khan Law specializes in real estate, family, will &amp; estate 
law. Headquartered in Milton, with offices in North York and Mississauga, 
our firm represents clients across the Greater Toronto Area. " />

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,500i,600,600i,700,700i,800|Playfair+Display:400,400i,700,700i,900,900i&display=swap"
        rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/menu.css">
    <link rel="stylesheet" href="css/services-section.css">
    <link rel="stylesheet" href="css/animate.css">


</head>

<body>


	<div id="topHeader" class="topheader">

		<div class="container-fluid">
			<div class="row">
				<div class="col-12 navbar-top">

					<div class="row">
						<div class="col-lg-12 col-md-12">
							<nav class="navbar navbar-expand-lg">

								<div class="collapse navbar-collapse" id="navbarNavDropdown">
									<ul class="navbar-nav">
										<li class="nav-item">
											<a class="nav-link" href="javascript:void(0);">Contact <span> ▸</span></a>
										</li>
										<li class="nav-item">
											<a class="nav-link" href="javascript:void(0);">Our Team <span>▸</span></a>
										</li>
										<li class="nav-item top-contact">
											<a class="nav-link phone-no" href="javascript:void(0);"><i class="fa fa-phone"></i>
												647-643-5426</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>

					</div>
				</div>



				<div class="col-12">
					<div class="khanllp"><a href="index.html"><img alt="" src="images/khan-law.png"></a> </div>
					<a id="nav-toggle" data-toggle="collapse" data-target="#navbarNavDropdown"
						aria-controls="navbarNavDropdown" aria-expanded="false"
						aria-label="Toggle navigation"><span></span></a>
					<a href="javascript:void(0);" class="mob-phone-no"><i class="fa fa-phone"></i>
						647-643-5426</a>
					<nav class="navbar navbar-expand-lg">
						<div class="collapse navbar-collapse" id="navbarNavDropdown">
							<ul class="navbar-nav">
								<li class="nav-item"><a class="nav-link" href="index.html">Home <span
											class="sr-only">(current)</span></a></li>
								<li class="nav-item">
									<a class="nav-link dropdown-toggle" data-toggle="dropdown" href="javascript:void(0);" role="button"
										aria-haspopup="true" aria-expanded="false">Pages
									</a>
									<div class="dropdown-menu">
										<a class="dropdown-item" href="services-page-sections.html">Services page </a>
										<a class="dropdown-item" href="form-page.html">Form page</a>
										<a class="dropdown-item" href="blogs-list.html">Blogs list</a>
										<a class="dropdown-item" href="blogs-detail.html">Blog detail</a>
										<a class="dropdown-item" href="javascript:void(0);">Real estate, Family law, and Wills +
											estates</a>
									</div>
								</li>

								<li class="nav-item"><a class="nav-link" href="who-we-are.html">Who we are</a></li>
								<li class="nav-item"><a class="nav-link" href="what-we-do.html">What we do</a></li>
								<li class="nav-item"><a class="nav-link" href="the-difference.html">The difference</a>
								</li>
								<li class="nav-item"><a class="nav-link" href="get-in-touch.html">Get in touch</a></li>
							</ul>
						</div>
					</nav>
				</div>

			</div>
		</div>

	</div>


    <div class="header-services">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <h1>Real estate, Family law</h1>
                    <h2>Real estate, Family law, and Wills + estates Lawyers</h2>
                    <p>We challenge the status quo. We create greater value for our clients by gaining a deep
                        understanding of what our services are worth
                        to you. We go above and beyond </p>
                    <a class="btn y-btn" href="javascript:void(0);">Button Text Here ▸</a>
                </div>
                <div class="col-lg-5 col-md-5">
                    <img class="services-img" src="images\header-right-img.png" alt="">
                </div>
            </div>
        </div>
    </div>

    <br><br><br>without header image<br><br><br>

    <div class="header-services without-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-7">
                    <h1>Real estate, Family law</h1>
                    <h2>Real estate, Family law, and Wills + estates Lawyers</h2>
                    <p>We challenge the status quo. We create greater value for our clients by gaining a deep
                        understanding of what our services are worth
                        to you. We go above and beyond </p>
                    <a class="btn y-btn" href="javascript:void(0);">Button Text Here ▸</a>
                </div>
                <div class="col-lg-5 col-md-5">
                    <img class="services-img" src="images\header-right-img.png" alt="">
                </div>
            </div>
        </div>
    </div>








    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Small Heading</h3>
                    <h1>Large Heading here</h1>
                    <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages, and more.</p>
                </div>
                <div class="col-md-6">
                    <h3>Small Heading</h3>
                    <h1>Large Heading here</h1>
                    <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                    <ul>
                        <li>Lorem Ipsum is simply dummy text of the printing</li>
                        <li>Standard dummy text ever since the 1500s, when an unknown</li>
                        <li>Printer took a galley of type and scrambled it to make a type</li>
                        <li>Specimen book. It has survived not only five centuries</li>
                        <li>Electronic typesetting, remaining essentially unchanged</li>
                        <li>It was popularised in the 1960s with the release</li>
                    </ul>
                    <a class="btn section-content-btn" href="javascript:void(0);">Button Text Here ▸</a>
                </div>
            </div>
        </div>
    </div>



    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Small Heading</h3>
                    <h1>Large Heading here</h1>
                    <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages, and more.</p>
                    <a class="btn section-content-btn" href="javascript:void(0);">Button Text Here ▸</a>
                </div>
                <div class="col-md-6">
                    <img src="images\img-place.jpg" alt="">
                </div>
            </div>
        </div>
    </div>



    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="images\img-place.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <h3>Small Heading</h3>
                    <h1>Large Heading here</h1>
                    <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages, and more.</p>
                    <a class="btn section-content-btn" href="javascript:void(0);">Button Text Here ▸</a>
                </div>
            </div>
        </div>
    </div>



    <div class="section-content text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Small Heading</h3>
                    <h1>Large Heading here</h1>
                    <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                        essentially unchanged. It was popularised in the 1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages, and more.</p>
                    <img class="image-lg" src="images\img-place-lg.jpg" alt="">
                    <ul>
                        <li>Lorem Ipsum is simply dummy text of the printing</li>
                        <li>Standard dummy text ever since the 1500s, when an unknown</li>
                        <li>Printer took a galley of type and scrambled it to make a type</li>
                        <li>Specimen book. It has survived not only five centuries</li>
                        <li>Electronic typesetting, remaining essentially unchanged</li>
                        <li>It was popularised in the 1960s with the release</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>



    <div class="content-col-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h3>Small Heading</h3>
                    <h1>Large Heading here</h1>
                    <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s,
                        when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    <a class="btn section-content-btn" href="javascript:void(0);">Button Text Here ▸</a>
                </div>
                <div class="col-md-4">
                    <h3>Small Heading</h3>
                    <h1>Large Heading here</h1>
                    <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                    <ul>
                        <li>Lorem Ipsum is simply dummy text of the printing</li>
                        <li>Standard dummy text ever since the 1500s, when an unknown</li>
                        <li>Printer took a galley of type and scrambled it to make a type</li>
                        <li>Specimen book. It has survived not only five centuries</li>
                        <li>Electronic typesetting, remaining essentially unchanged</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="images\img-place.jpg" alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="content-card">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <h2>Heading text here</h2>
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <h2>Heading text here</h2>
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <h2>Heading text here</h2>
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <h2>Heading text here</h2>
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <h2>Heading text here</h2>
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="card">
                        <h2>Heading text here</h2>
                        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis
                            nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                            irure dolor in reprehenderit in voluptate velit esse cillum
                            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                            culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="section-content faqs-content">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <img src="images\img-place.jpg" alt="">
                </div>
                <div class="col-md-8">
                    <h3>Small Heading</h3>
                    <h1>Faqs</h1>

                    <div id="accordion">

                        <div class="card shadow-none">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                        How do I hire Real Estate Khan Law LLP?
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                        occaecat cupidatat non proident, sunt in culpa qui officia
                                        deserunt mollit anim id est laborum.</p>
                                </div>
                            </div>
                        </div>

                        <div class="card shadow-none">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        How do I hire Real Estate Khan Law LLP?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <h3>Information you provide</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                        occaecat cupidatat non proident, sunt in culpa qui officia
                                        deserunt mollit anim id est laborum.</p>

                                    <ul>
                                        <li>Lorem Ipsum is simply dummy text of the printing</li>
                                        <li>Standard dummy text ever since the 1500s, when an unknown</li>
                                        <li>Printer took a galley of type and scrambled it to make a type</li>
                                        <li>Specimen book. It has survived not only five centuries</li>
                                        <li>Electronic typesetting, remaining essentially unchanged</li>
                                        <li>It was popularised in the 1960s with the release</li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                        <div class="card shadow-none">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        How do I hire Real Estate Khan Law LLP?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                        occaecat cupidatat non proident, sunt in culpa qui officia
                                        deserunt mollit anim id est laborum.</p>

                                </div>
                            </div>
                        </div>

                        <div class="card shadow-none">
                            <div class="card-header" id="headingfour">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapsefour" aria-expanded="false" aria-controls="collapsefour">
                                        How do I hire Real Estate Khan Law LLP?
                                    </button>
                                </h5>
                            </div>
                            <div id="collapsefour" class="collapse" aria-labelledby="headingfour"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad
                                        minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                        commodo consequat. Duis aute irure dolor in reprehenderit
                                        in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                                        occaecat cupidatat non proident, sunt in culpa qui officia
                                        deserunt mollit anim id est laborum.</p>

                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="reviews-card">
                        <div class="com-icon"><img src="images\review-com.svg" alt=""></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim
                            ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in
                            reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
                            occaecat cupidatat non proident,
                            sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>

                        <div class="customer-reviews">
                            <h6>Latika Yasmin</h6>
                            <div class="review-star">
                                <i class="fa fas fa-star"></i>
                                <i class="fa fas fa-star"></i>
                                <i class="fa fas fa-star"></i>
                                <i class="fa fas fa-star"></i>
                                <i class="fa fas fa-star-o"></i>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-6 m-auto">
                    <h3>Reviews</h3>
                    <h1>What Our client say</h1>
                    <h4>How we are trusted, see what they say about us</h4>
                    <p>Our disbursements (if applicable) comply with LSUC Rule 4.2-2.1: HST,
                        land transfer tax, govt. document registration fees, fees charged by govt., Teranet fees, costs
                        of condo status certificate</p>
                    <a class="btn section-content-btn" href="javascript:void(0);">Button Text Here ▸</a>
                </div>
            </div>
        </div>
    </div>


    <div class="section-content contact-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <img src="images\contact-img.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h1>Hire Us Now</h1>
                    <p><strong>Use the form below to tell us about your legal enquiry</strong></p>

                    <div id="floating-label">
                        <div class="form-wrap p-0">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label mb-10">First Name *</label>
                                        <input type="text" class="form-control" style="font-size:14px;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Last Name *</label>
                                        <input type="text" id="" class="form-control" placeholder=""
                                            style="font-size:14px;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Cell Phone *</label>
                                        <input type="text" id="" class="form-control" placeholder=""
                                            style="font-size:14px;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Email *</label>
                                        <input type="text" id="" class="form-control" placeholder=""
                                            style="font-size:14px;">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group textarea-message">
                                        <label class="control-label CL-textarea mb-10">Message *</label>
                                        <textarea class="form-control" name="textarea" placeholder=" " rows="4"
                                            style="font-size:14px;"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label class="font11 mb-5 letter-spacing-0">Upload Documents</label>
                                    <form action="#" class="dropzone" id="my-awesome-dropzone">
                                        <div class="fallback">
                                            <input name="file" type="file" multiple />
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>



                    <a class="btn section-content-btn" href="javascript:void(0);">Send ▸</a>
                </div>
            </div>
        </div>
    </div>


    <div class="section-content contact-form form-light-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <img src="images\contact-img.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h1>Hire Us Now</h1>
                    <p><strong>Use the form below to tell us about your legal enquiry</strong></p>

                    <div id="floating-label">
                        <div class="form-wrap p-0">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label mb-10">First Name *</label>
                                        <input type="text" class="form-control" style="font-size:14px;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Last Name *</label>
                                        <input type="text" id="" class="form-control" placeholder=""
                                            style="font-size:14px;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Cell Phone *</label>
                                        <input type="text" id="" class="form-control" placeholder=""
                                            style="font-size:14px;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Email *</label>
                                        <input type="text" id="" class="form-control" placeholder=""
                                            style="font-size:14px;">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group textarea-message">
                                        <label class="control-label CL-textarea mb-10">Message *</label>
                                        <textarea class="form-control" name="textarea" placeholder=" " rows="4"
                                            style="font-size:14px;"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label class="font11 mb-5 letter-spacing-0">Upload Documents</label>
                                    <form action="#" class="dropzone" id="my-awesome-dropzone">
                                        <div class="fallback">
                                            <input name="file" type="file" multiple />
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>

                    <a class="btn section-content-btn" href="javascript:void(0);">Send ▸</a>
                </div>
            </div>
        </div>
    </div>

    <br><br><br>

    <div class="section-content contact-form form-dark-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-4 col-sm-12">
                    <img src="images\contact-img.jpg" alt="">
                </div>
                <div class="col-lg-6 col-md-8 col-sm-12">
                    <h1>Hire Us Now</h1>
                    <p><strong>Use the form below to tell us about your legal enquiry</strong></p>

                    <div id="floating-label">
                        <div class="form-wrap p-0">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label mb-10">First Name *</label>
                                        <input type="text" class="form-control" style="font-size:14px;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Last Name *</label>
                                        <input type="text" id="" class="form-control" placeholder=""
                                            style="font-size:14px;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Cell Phone *</label>
                                        <input type="text" id="" class="form-control" placeholder=""
                                            style="font-size:14px;">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label mb-10">Email *</label>
                                        <input type="text" id="" class="form-control" placeholder=""
                                            style="font-size:14px;">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group textarea-message">
                                        <label class="control-label CL-textarea mb-10">Message *</label>
                                        <textarea class="form-control" name="textarea" placeholder=" " rows="4"
                                            style="font-size:14px;"></textarea>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label class="font11 mb-5 letter-spacing-0">Upload Documents</label>
                                    <form action="#" class="dropzone" id="my-awesome-dropzone">
                                        <div class="fallback">
                                            <input name="file" type="file" multiple />
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <a class="btn section-content-btn" href="javascript:void(0);">Send ▸</a>
                </div>
            </div>
        </div>
    </div>




    <br><br><br>




    <div class="section-content pb-10">
        <div class="container">
            <div class="row">
                <div class="col pr-0">
                    <h1>Our Blogs</h1>
                </div>
                <div class="col-auto">
                    <a class="btn view-more-link" href="blogs-list.html">View All Blogs ▸</a>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-4 col-md-4 col-6">
                    <div class="blog-card">
                        <div class="blog-date">JUNE
                            <span>28</span>
                        </div>
                        <img src="images\blog-img.jpg" alt="">
                        <a href="blogs-detail.html" class="blog-title">
                            <div class="title">Blog title here Lorem Ipsum is simply dummy text of the printing</div>
                            <button class="btn section-content-btn blog-btn" href="javascript:void(0);">Read More ▸</button>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-6">
                    <div class="blog-card">
                        <div class="blog-date">JUNE
                            <span>28</span>
                        </div>
                        <img src="images\blog-img-2.jpg" alt="">
                        <a href="blogs-detail.html" class="blog-title">
                            <div class="title">Blog title here Lorem Ipsum is simply dummy text of the printing</div>
                            <button class="btn section-content-btn blog-btn" href="javascript:void(0);">Read More ▸</button>
                        </a>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-6">
                    <div class="blog-card">
                        <div class="blog-date">JUNE
                            <span>28</span>
                        </div>
                        <img src="images\blog-img-3.jpg" alt="">
                        <a href="blogs-detail.html" class="blog-title">
                            <div class="title">Blog title here Lorem Ipsum is simply dummy text of the printing</div>
                            <button class="btn section-content-btn blog-btn" href="javascript:void(0);">Read More ▸</button>
                        </a>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <br><br><br>




    <script src="js/jquery-3.4.0.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/wow.js"></script>
    <script src="js/dropzone.js"></script>
    <script src="js/dropzone-data.js"></script>



    <script>
        $('body').on('mouseenter mouseleave', '.nav-item', function (e) {
            if ($(window).width() > 800) {
                var _d = $(e.target).closest('.nav-item'); _d.addClass('show');
                setTimeout(function () {
                    _d[_d.is(':hover') ? 'addClass' : 'removeClass']('show');
                }, 1);
            }
        });

        document.querySelector("#nav-toggle")
            .addEventListener("click", function () {
                this.classList.toggle("active");
            });

        $(document).ready(function () {
            $('.navbar-dark .dmenu, .top_nav .dmenu').hover(function () {
                $(this).find('.sm-menu').first().stop(true, true).slideDown(180);
            }, function () {
                $(this).find('.sm-menu').first().stop(true, true).slideUp(100)
            });
        });

        Headerfix = document.getElementById("topHeader");

        var myScrollFunc = function () {
            var y = window.scrollY;
            if (y >= 250) {
                topHeader.className = "topheader n-hiden"
            } else {
                topHeader.className = "topheader n-show"
            }
        };

        window.addEventListener("scroll", myScrollFunc);


        $('.form-control').on('focus blur', function (e) {
            $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
        }).trigger('blur');




        wow = new WOW(
            {
                animateClass: 'animated',
                offset: 50,
                callback: function (box) {
                    console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
                }
            }
        );

        wow.init();

    </script>




</body>

</html>