.VideoWrapper{
  width: 100%;
  margin: 1rem 0;
  position: relative;
  padding-bottom: 56.25%;
}
.Video-iframe{
  top: 0;
  left: 0;
  width: 100%;
  border: 0;
  height: 100%;
  position: absolute;
}
.header-services {
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  justify-content: center;
  background-color: #000;
  color: #fff;
  margin-bottom: 50px;
}

.header-services h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
  color: #fff;
}
.header-services h1::before {
  display: none;
}
.header-services h2 {
  font-size: 32px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 20px;
}

.header-services p {
  font-size: 16px;
  margin-bottom: 20px;
}

.header-services .container {
  padding-top: 90px;
  padding-bottom: 50px;
}

.without-img .container {
  padding-top: 140px;
  padding-bottom: 70px;
}

.without-img {
  margin-bottom: 20px;
}

.header-services .container .col-md-7 {
  margin: auto;
}

.header-services .container .services-img {
  margin-bottom: -120px;
  display: block;
  margin-left: auto;
  margin-top: 50px;
}

.without-img .col-lg-5 {
  display: none;
}

.without-img .col-lg-7 {
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.section-content {
  padding: 50px 0px;
  width: 100%;
}

.section-content h3 {
  font-size: 32px;
  margin-bottom: 0px;
}

.section-content h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  position: relative;
  position: relative;
  margin-bottom: 40px;
}

.section-content h1::before {
  content: '';
  position: absolute;
  display: block;
  bottom: -20px;
  height: 2px;
  width: 28px;
  background: #0038ba;
  left: 0;
  z-index: 1;
}

.text-center h1::before {
  left: 0;
  right: 0;
  margin: auto;
}

.section-content h4 {
  margin-bottom: 30px;
  display: block;
  font-size: 20px;
}

.section-content p {
  font-size: 16px;
  margin-bottom: 15px;
}

.section-content ul {
  margin: 0;
  padding-left: 30px;
  position: relative;
  list-style: none;
}

.section-content ul li {
  position: relative;
  margin-bottom: 15px;
  text-align: left;
  font-size: 16px;
}

.section-content ul li:before {
  position: absolute;
  content: "";
  left: -30px;
  top: 9px;
  height: 2px;
  width: 12px;
  background: #0038ba;
}

.section-content img,
.content-col-3 img {
  width: 100%;
  height: auto;
}

.section-content .image-lg {
  margin-bottom: 30px;
  margin-top: 30px;
}


.content-col-3 {
  padding: 50px 0px;
  width: 100%;
  letter-spacing: normal;
}

.content-col-3 h3 {
  font-size: 24px;
  margin-bottom: 0px;
}

.content-col-3 h1 {
  font-size: 34px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 15px;
}

.content-col-3 h1::before {
  display: none
}

.content-col-3 h4 {
  margin-bottom: 30px;
  display: block;
  font-size: 17px;
}

.content-col-3 p {
  font-size: 14px;
  margin-bottom: 15px;
}

.content-col-3 ul,
.faqs-content ul {
  margin: 0;
  padding-left: 30px;
  position: relative;
  list-style: none;
}

.content-col-3 ul li,
.faqs-content ul li {
  position: relative;
  margin-bottom: 15px;
  text-align: left;
  font-size: 14px;
}

.content-col-3 ul li:before,
.faqs-content li:before {
  position: absolute;
  content: "";
  left: -30px;
  top: 9px;
  height: 2px;
  width: 12px;
  background: #0038ba;
}

.content-col-3 ul li:last-child,
.section-content ul li:last-child,
.faqs-content ul li:last-child {
  margin-bottom: 0;
}


.content-card {
  padding: 35px 0px 35px 0px;
  width: 100%;
}

.content-card .card {
  border-radius: 0 !important;
  border: none;
  padding: 25px;
  overflow: hidden;
  min-height: auto;
  letter-spacing: normal;
  border-bottom: solid 3px #fff;
  margin: 15px 0;

}

.content-card .card:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  border-bottom: solid 3px #0038ba;
}

.content-card .card h2 {
  font-size: 25px;
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 15px;
}

.content-card .card h4 {
  margin-bottom: 15px;
  display: block;
  font-size: 15px;
}

.content-card .card p {
  margin: 0;
  font-size: 14px;
}





.faqs-content {
  padding: 50px 0px;
  width: 100%;
  letter-spacing: normal;
}

.faqs-content .card {
  min-height: auto;
  padding: 0;
}

.shadow-none {
  box-shadow: none !important
}

.faqs-content .card-header .btn-link {
  padding: 10px;
  padding-right: 15px;
  width: 100%;
  text-align: left;
  display: block;
  margin: 0;
  color: #282828;
  text-decoration: none;
  font-size: 20px;
  white-space: normal;
  letter-spacing: 0.5px; position: relative;
}

.faqs-content .card-header .btn-link:after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  font-weight: 900;
  content: '\f106';
  font-family: 'FontAwesome';
  color: #282828;
  position: absolute;
  right: 10px;
  top: 12px;
}

.faqs-content .card-header {
  padding: 0px;
  margin-top: 15px;
  border-radius: 0;
}

.faqs-content .card-body {
  font-size: 16px;
}

.faqs-content .card-header .collapsed:after {
  content: '\f107'
}

.faqs-content .card-body h3 {
  margin-bottom: 20px;
}

.reviews-card {
  background-color: #040725;
  color: #fff;
  padding: 50px 30px 30px 30px;
  font-size: 18px;
}

.reviews-card p {
  opacity: 0.85
}

.reviews-card .customer-reviews {
  margin-top: 30px;
}

.reviews-card .customer-reviews h6 {
  font-size: 18px;
}

.reviews-card .review-star {
  color: #EBB30A;
  font-size: 20px;
}

.reviews-card .com-icon {
  position: absolute;
  top: -23px;
  right: 50px;
  width: 70px;
}

.contact-form #floating-label .form-group.focused .control-label {
  color: #040725 !important;
}

.contact-form #floating-label .form-group {
  height: 54px;
  margin-bottom: 10px;
}

.contact-form #floating-label .form-group .form-control {
  border: 1px solid #ced4da;
  color: #040725 !important;
  font-size: 14px;
}

.contact-form #floating-label .control-label {
  transform: translate3d(9px, 27px, 0) scale(1);
}

.contact-form .textarea-message {
  height: 117px !important
}

.contact-form .textarea-message textarea {
  height: 96px !important;
}

.contact-form .section-content-btn {
  margin-top: 0;
}

.form-light-bg {
  background-color: #F8F8F8;
  position: relative;
}

.form-light-bg:before,
.form-dark-bg:before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  top: 0;
  left: -20%;
  height: 100%;
  width: 55%;
  background-color: #fff;
}

.form-dark-bg {
  background-color: #040725;
  position: relative;
  color: #fff;
}

.form-dark-bg #floating-label .form-group.focused .control-label {
  color: #fff !important;
}

.form-dark-bg #floating-label .form-group .form-control,
.form-dark-bg .dropzone {
  border-color: #41455c;
  color: #fff !important;
}

.view-more-link {
  color: #040725;
  font-size: 14px;
  padding: 6px 0;
  opacity: 0.6;
  margin-top: 20px;
  margin-left: auto;
  margin-right: 0;
  display: table;
  border-bottom: solid 1px #bbbbbb;
  border-radius: 0;
}

.view-more-link:hover {
  opacity: 1;
  -webkit-transition: all .1s ease;
  transition: all .5s ease
}

.logo-img {
  padding-left: 8px;
  padding-right: 8px;
}

.logo-img img {
  height: auto;
  width: 100%;
  margin: auto;
  display: block;
  max-width: 186px;
  border: solid 1px rgba(0, 0, 0, 0.1);
}
.img-width-set {
    width: 100%;
    height: auto;
    max-width: 1200px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
}
.header-text-wrap h1 {
    color: #fff;
}
.header-text-wrap h1::before {
    right: 0;
    margin: auto;
}
#home-header {
	overflow: hidden;
	width: 100%;
	height: 100%;
	min-height: 100vh;  
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	justify-content: center;
	background-color: #000;
}
 

.header-text-wrap {
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.header-text-wrap h1 {
	font-size: 65px;
	color: #fff;
	text-align: center;
	margin: 0;
	display: inline-block; 
	margin-bottom: 15px;
}

.header-text-wrap h4 {
	font-size: 30px;
	color: #fff;
	text-align: center;
	margin-bottom: 25px
}



.section-content {
  padding: 50px 0px;
  width: 100%;
}

.section-content h3 {
  font-size: 32px;
  margin-bottom: 0px;
}

.section-content h1 {
  font-size: 50px;
  margin: 0;
  padding: 0;
  position: relative;
  position: relative;
  margin-bottom: 40px;
}

.section-content h1::before {
  content: '';
  position: absolute;
  display: block;
  bottom: -20px;
  height: 2px;
  width: 28px;
  background: #0038ba;
  left: 0;
  z-index: 1;
}

.text-center h1::before {
  left: 0;
  right: 0;
  margin: auto;
}

.section-content h4 {
  margin-bottom: 30px;
  display: block;
  font-size: 22px;
}

.section-content p {
  font-size: 16px;
  margin-bottom: 15px;
}


/* .section-content-btn {
  color: #040725;
  font-size: 14px;
  border-radius: 0;
  padding: 6px 20px;
  border: solid 2px #EBB30A;
  background-color: #EBB30A;
  margin-top: 20px;
}

.section-content-btn:hover {
  background-color: #EBB30A;
  color: #040725;
  -webkit-transition: all .1s ease;
  transition: all .5s ease
} */


.y-btn, .head-btn, .section-content-btn, .card-btn {
    padding: 7px 25px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 500;
    border: solid 1px #0038ba;
    background: linear-gradient(90deg,#1e54d3 0,#0038ba 100%);
    color: #fff;
    margin-top: 10px; 
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    cursor: pointer;
    border-radius: 24px;    width: fit-content;
}
.head-btn:hover, .y-btn:hover, .section-content-btn:hover, .card-btn:hover {
  color: #fff;
  background: linear-gradient(90deg,#1e54d3 0,#0038ba 100%);
  border: solid 1px #0038ba; 
  text-decoration: none;
}
.org-color {
  color: #0038ba;
}
.b-section {
  padding: 50px 0px;
  width: 100%;
  background-color: #000;
  color: #fff;
}





.our-exp {
	font-size: 16px
}

.our-exp h3,
.head-im {
	font-size: 24px;
	color: #fff;
	position: relative;
	margin-bottom: 40px
}

.our-exp h3::before {
	content: '';
	position: absolute;
	display: block;
	bottom: -22px;
	height: 2px;
	width: 28px;
	background: #0038ba;
	left: 0;
	z-index: 1;
}

.our-exp .head-im::before {
	display: none
}

.our-exp .OE-list-l {
	margin-left: 90px;
	margin-right: 90px
}

.our-exp .OE-list-r {
	margin-left: 90px;
}

.our-exp .OE-icon {
	width: 50px;
	float: left
}

.our-exp ._pL {
	padding-left: 90px
}
.our-exp ul {
	padding: 0; margin: 0;
}
.our-exp ul li {
	list-style: none;
	padding-bottom: 15px;
	position: relative;
	font-size: 16px;
}
.our-exp ul li a {
	color: #fff;
}
.our-exp ul li a:hover {
	color: #fff;
}

.our-exp ul li:before {
    position: absolute;
    content: "";
    left: -35px;
    top: 12px;
    height: 1px;
    width: 15px;
    background: #0038ba;
}
.OE-border-b {
	border-bottom: solid 1px #000000
}

.OE-border-l {
	border-left: solid 1px #000000
}

.OE-list-l p,
.OE-list-r p {
	font-size: 13px;
	margin: 0
}

.our-exp ._pB {
	padding-bottom: 40px
}

.our-exp ._pTB {
	padding-top: 40px;
	padding-bottom: 40px
}

.about-p-exp .OE-list-r {
	padding-bottom: 30px;
	margin-bottom: 30px;
	border-bottom: solid 1px #000000;
}

.hr-line {
	margin: 0;
	border-color: #000000
}

.our-exp .Blink {
	font-size: 18px;
	margin-top: 15px;
	padding: 8px 22px
}

.font-14 {
	font-size: 14px
}


@media (max-width:1440px) {
  .section-content h4 {
    font-size: 18px;
  }

  .content-col-3 h3 {
    font-size: 22px;
  }

  .content-col-3 h1 {
    font-size: 32px;
  }

  .content-col-3 h4 {
    font-size: 16px;
  }

  .form-light-bg::before,
  .form-dark-bg::before {
    width: 50%;
  }
  .w-section,
	.our-exp {
		font-size: 14px
	} 

	.our-exp .Blink {
		font-size: 16px
	}
 
	.mb-S40 {
		margin-bottom: 20px
	}

	.our-exp ._pB {
		padding-bottom: 25px
	}

	.our-exp ._pTB {
		padding-top: 25px;
		padding-bottom: 25px
	} 
	.our-exp .OE-list-l {
		margin-left: 60px;
		margin-right: 30px;
	}

	.our-exp ._pL {
		padding-left: 60px;
	}

	.our-exp .OE-list-r {
		margin-left: 60px;
	}

	.our-exp .OE-icon {
		width: 40px
	}

}

@media (max-width:1366px) {
  .section-content h1 {
    font-size: 40px;
  }

  .section-content h3 {
    font-size: 28px;
  }

  .form-light-bg::before,
  .form-dark-bg::before {
    left: -23%;
  }
}


@media (max-width:1024px) {
  .header-services h1 {
    font-size: 40px;
  }

  .header-services h2 {
    font-size: 28px;
  }

  .header-services .container .services-img {
    width: 100%;
  }

  .section-content h3 {
    font-size: 24px;
  }

}

@media (max-width:800px) {
  .header-services {
    margin-bottom: 0;
  }

  .header-services h1 {
    font-size: 36px;
  }

  .header-services h2 {
    font-size: 24px;
  }

  .header-services p {
    font-size: 14px;
  }

  .header-services .container {
    padding-top: 70px;
    padding-bottom: 30px;
  }

  .section-content h1 {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .section-content h1::before {
    bottom: -15px;
    width: 20px;
  }

  .section-content h3 {
    font-size: 22px;
  }

  .section-content p,
  .section-content ul li {
    font-size: 14px;
  }

  .content-col-3 h3 {
    font-size: 20px;
  }

  .content-col-3 h1 {
    font-size: 30px;
  }

  .form-light-bg::before,
  .form-dark-bg::before {
    left: -1%;
    width: 20%;
  }

  .header-services .container .services-img {
    margin-top: 0;
  }

  .view-more-link {
    font-size: 13px;
    margin-top: 10px;
    opacity: 0.7;
  }

  .logo-img {
    padding-left: 15px;
    padding-right: 15px;
    -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding-top: 15px;
  padding-bottom:15px;
}

}

@media (max-width:767px) {
  .header-services .row {
    flex-direction: column-reverse;
  }

  .header-services .container .services-img {
    margin-bottom: 20px;
  }

  .header-services .container {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .without-img .container {
    padding-top: 70px;
    padding-bottom: 45px;
  }

  .section-content .col-md-6 {
    padding-bottom: 50px;
  }

  .contact-form .col-md-6 {
    padding-bottom: 0px;
  }

  .section-content .col-md-6:last-child {
    padding-bottom: 0px;
  }

  .section-content h4 {
    font-size: 16px;
  }

  .content-col-3 .col-md-4 {
    padding-bottom: 50px;
  }

  .content-col-3 .col-md-4:last-child {
    padding-bottom: 0px;
  }

  .faqs-content .card-header .btn-link {
    font-size: 16px;
  }

  .faqs-content .card-body {
    font-size: 14px;
    padding: 15px;
  }

  .form-light-bg::before,
  .form-dark-bg::before {
    display: none;
  }

  .contact-form img,
  .faqs-content img {
    margin-bottom: 20px;
  }
	.our-exp ._pL {
		padding-left: 15px
	}
 
	.our-exp ._pTB {
		padding-top: 0;
		padding-bottom: 40px
	}

	.our-exp ._pB {
		padding-bottom: 40px
	}

}


@media (max-width:480px) {
  .header-services h1 {
    font-size: 30px;
  }

  .header-services h2 {
    font-size: 20px;
  }

  .section-content h1 {
    font-size: 40px;
  }

  .reviews-card .com-icon {
    position: absolute;
    top: -20px;
    right: 40px;
    width: 60px;
  }
  .logo-img {
    padding-left: 10px;
    padding-right: 10px;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 10px;
    padding-bottom:10px;
}
.logo-img img {max-width: 100%;}

}



@media (max-width:479px) {
  .section-content h1 {
    font-size: 30px;
  }
  .section-content-btn {
    font-size: 13px;
  }
  .view-more-link {
    margin-top: 3px;
    letter-spacing: normal;
  }
	.our-exp .Blink {
		padding: 7px 22px;
		font-size: 15px
	}
}

@media (max-width:375px) {

  .view-more-link {
    margin-top: 0;
    font-size: 12px;
  }

  .section-content h1 {
    font-size: 26px;
  }
}

@media (max-width:320px) {
  .header-services h1 {
    font-size: 25px;
  }

  .header-services h2 {
    font-size: 18px;
  }

  .section-content h1 {
    font-size: 25px;
  }

  .section-content h3 {
    font-size: 18px;
  }

  .section-content h4 {
    font-size: 14px;
  }

  .content-col-3 h3 {
    font-size: 18px;
  }

  .content-col-3 h1 {
    font-size: 25px;
  }

  .content-col-3 h4 {
    font-size: 14px;
  }

  .section-content h1 {
    font-size: 24px;
  }

}
/* Dynamic Pages CSS */
:root {
  --font-primary: 'Barlow Condensed', sans-serif;
}

.section-testimonial {
  padding: 30px 0;
  font-size: 16px;
  color: #282828;
}

.section-testimonial h2 {
  font-size: 52px;
  line-height: 1;
}

.section-testimonial blockquote {
  position: relative;
  font-size: 22px;
  letter-spacing: 0.5px;
  line-height: normal;
  margin-top: auto;
  margin: auto;
}

.section-testimonial blockquote q {
  margin-bottom: 15px;

}

.section-testimonial blockquote cite {
  color: #0038ba;
  font-size: 16px;
  display: block;
  margin-top: 20px;
}

.section-testimonial blockquote span {
  font-size: 14px;
  opacity: 0.8;
}

.section-testimonial .testimonial-arrow {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 15px;
  z-index: 30;

}

.section-testimonial .Block-prev {
  margin-right: 15px;
}

.section-testimonial .Block-next i,
.section-testimonial .Block-prev i {
  font-size: 15px;
}

.section-testimonial .Block-next,
.section-testimonial .Block-prev {
  color: #0038ba;
  align-items: center;
  border: 2px solid;
  border-radius: 100%;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  height: 36px;
  width: 36px;
  line-height: 36px;
}

.section-testimonial .testimonial-img {
  border-radius: 12px;
  width: 100%;
  height: auto;
}

.testimonial-d-flex {
  display: flex;
}

@media (max-width:1024px) {
  .section-testimonial h2 {
      font-size: 42px;
  }

  .section-testimonial blockquote {
      font-size: 20px;
  }
}

@media (max-width:991px) {
  .section-testimonial h2 {
      font-size: 32px;
      margin-bottom: 15px;
  }
}

@media (max-width:767px) {
  .section-testimonial h2 {
      margin-bottom: 15px;
  }

  .section-testimonial .testimonial-img {
      margin-bottom: 15px;
  }

  .testimonial-d-flex {
      display: block;
  }

  .section-testimonial .testimonial-arrow {
      position: relative;
      bottom: auto;
      left: auto;
      display: inline-block;
      width: 100%;
      margin: 15px auto 0 auto;
      text-align: center;
  }

  .section-testimonial blockquote {
      font-size: 16px;
  }

  .section-testimonial h2 {
      font-size: 28px;
  }

  .section-testimonial blockquote cite {
      font-size: 14px;
      margin-bottom: 5px;
      margin-top: 10px;
  }

  .section-testimonial .Block-next,
  .section-testimonial .Block-prev {
      display: inherit;
  }
}


.section-accordion {
  padding: 30px 0;
  font-size: 16px;
  color: #fff;
  background-color: #0038ba;
}

.section-accordion h2 {
  font-size: 45px;
  text-transform: capitalize;
  line-height: 1;
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.section-accordion #accordion {
  display: grid;
}

.section-accordion .card-header {
  padding: 10px 15px;
  margin-bottom: 0;
  border-bottom: none;
  background-color: rgba(0, 0, 0, 0);
}

.section-accordion .card {
  background-color: rgba(0, 0, 0, .3);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.section-accordion .card-body {
  padding-top: 0;
  font-size: 14px;
}

.section-accordion .card-body p {
  margin: 0;
}

.section-accordion .card-header .btn-link {
  padding: 10px 15px;
  padding-right: 30px;
  width: 100%;
  text-align: left;
  display: block;
  margin: 0;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  white-space: normal;
  text-transform: uppercase;
}

.section-accordion .card-header .btn-link:after {
  width: 1rem;
  text-align: center;
  float: right;
  vertical-align: 0;
  border: 0;
  content: '\f068';
  font-family: FontAwesome;
  color: #ffffff;
  position: absolute;
  right: 10px;
  top: 15px;
  font-size: 14px;
}

.section-accordion .card-header .collapsed:after {
  content: '\f067';
}

.section-accordion .accordion-right-side-img img {
  width: 100%;
  height: auto;
}

@media (max-width:991px) {
  .column-reverse {
      flex-direction: column-reverse;
  }
}

@media (max-width:800px) {
  .section-accordion .accordion-right-side-img {
      padding-top: 15px;
      padding-bottom: 15px;
  }
}

@media (max-width:767px) {
  .section-accordion h2 {
      font-size: 32px;
      margin-bottom: 15px;
  }

  .section-accordion .card {
      margin-bottom: 0px;
      margin-top: 10px;
  }

  .section-accordion .card-header .btn-link {
      padding: 8px 12px;
      font-size: 18px;
  }

  .section-accordion .card-body {
      padding: 15px;
      padding-top: 0;
  }

  .section-accordion .card-header .btn-link:after {
      font-size: 11px;
  }
}

.section-nav-tabs {
  padding: 30px 0 10px 0;
  font-size: 16px;
  color: #282828;
}

.section-nav-tabs .section-tab-title {
  margin-bottom: 30px;
  text-align: center;
}

.section-nav-tabs .section-tab-title h2 {
  font-size: 45px;
  margin-bottom: 0;
  text-transform: capitalize;
  line-height: 1;
}

.section-nav-tabs .nav-tabs .nav-link {
  align-items: center;
  padding: 12px 28px;
  border: none;
  border-bottom: 3px solid #e7edf6;
  color: #282828;
  font-family: var(--font-primary);
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  text-align: center;
  text-wrap: nowrap;
}

.section-nav-tabs .nav-tabs .nav-link img {
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto 15px auto;
  filter: grayscale(1);
  opacity: 0.6;
}

.section-nav-tabs .nav-tabs .nav-item.show .nav-link,
.section-nav-tabs .nav-tabs .nav-link.active {
  color: #0038ba;
  border-bottom: 3px solid #0038ba;
  background-color: transparent !important;
}

.section-nav-tabs .nav-tabs .nav-link.active img {
  filter: none;
  opacity: 1;
}

.section-nav-tabs .nav-tabs {
  border-bottom: none;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;
  flex-wrap: unset;
  padding-bottom: 12px;
}

.section-nav-tabs .tab-content {
  padding: 30px 0;
}

.section-nav-tabs .content-icon {
  margin-bottom: 2px;
}

.section-nav-tabs .content-icon h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.section-nav-tabs .content-icon .tab-img-icon img {
  width: 32px;
  height: 32px;
}

.section-nav-tabs .tab-col-img img {
  width: 100%;
}

.section-nav-tabs .tab-content .btn-primary {
  padding: 6px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  border: solid 1px #0038ba;
  background: linear-gradient(90deg, #1e54d3 0, #0038ba 100%);
  color: #fff;
  margin-top: 10px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
  border-radius: 24px;
  width: fit-content;
}

.section-nav-tabs .tab-content .btn-primary:hover,
.section-nav-tabs .tab-content .btn-primary:focus {
  color: #fff;
  background: linear-gradient(90deg, #1e54d3 0, #0038ba 100%);
  border: solid 1px #0038ba;
  text-decoration: none;
}

@media (max-width:1024px) {
  .section-nav-tabs .nav-tabs .nav-link {
      padding: 10px 25px;
      font-size: 16px;
  }
}

@media (max-width:991px) {
  .section-nav-tabs .nav-tabs .nav-link {
      padding: 10px 12px;
      font-size: 16px;
  }

  .column-reverse {
      flex-direction: column-reverse;
  }

  .section-nav-tabs .tab-col-img {
      padding: 0 35px;
      text-align: center;
  }

  .section-nav-tabs .tab-col-img img {
      width: 75%;
      display: block;
      margin: 0 auto 30px auto;
  }
}

@media (max-width:767px) {
  .section-nav-tabs .section-tab-title h2 {
      font-size: 32px;
  }

  .section-nav-tabs .content-icon h3 {
      font-size: 20px;
  }

  .section-nav-tabs {
      font-size: 14px;
  }

  .section-nav-tabs .nav-tabs .nav-link img {
      width: 28px;
      height: 28px;
      margin: 0 auto 10px auto;
  }

  .section-nav-tabs .tab-content {
      padding: 20px 0;
  }
}

@media (max-width:480px) {
  .section-nav-tabs .tab-col-img {
      padding: 0 15px;
      text-align: center;
  }

  .section-nav-tabs .tab-col-img img {
      width: 100%;
      display: block;
      margin: 0 auto 30px auto;
  }
}

.MainHeader2 {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-image: url(/images/main-bg-2.jpg)!important;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  background-color: #000;
  position: relative;
}

.MainHeader2 .header-content2 {
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translate(0, 50%);
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  text-align: left;
  display: table;
  z-index: 5;
  padding-left: 20px;
  width: 793px;
}

.MainHeader2 .header-content2 h1 {
  font-size: 70px;
  line-height: 1;
  position: relative;
}

.MainHeader2 .header-content2 h1::before {
  display: inline-block;
  content: "";
  width: 200px;
  height: 68px;
  background-color: #0038ba;
  position: absolute;
  /* bottom: 0; */
  left: -35px;
  z-index: -1;
  top: 3px;
}

.MainHeader2 .header-content2 h2 {
  font-size: 42px;
  font-weight: 300;
}

.MainHeader2 .header-content2 p {
  font-size: 18px;
  font-weight: 300;
}

.MainHeader2 .R-scrolldown {
  right: 35px;
  left: auto;
}

.MainHeader2 .btn-primary {
  padding: 7px 25px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  border: solid 1px #0038ba;
  background: linear-gradient(90deg, #1e54d3 0, #0038ba 100%);
  color: #fff;
  margin-top: 10px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
  border-radius: 24px;
  width: fit-content;
}

.MainHeader2 .btn-primary:hover,
.MainHeader2 .btn-primary:focus {
  color: #fff;
  background: linear-gradient(90deg, #1e54d3 0, #0038ba 100%);
  border: solid 1px #0038ba;
  text-decoration: none;
}

@media (max-width:1440px) {
  .MainHeader2 .header-content2 h1 {
      font-size: 62px;
  }

  .MainHeader2 .header-content2 h1::before {
      width: 180px;
      height: 61px;
  }

  .MainHeader2 .header-content2 h2 {
      font-size: 36px;
  }

  .MainHeader2 .header-content2 p {
      font-size: 16px;
  }

  .MainHeader2 .header-content2 {
      width: 720px;
  }
}

@media (max-width:1280px) {
  .MainHeader2 .header-content2 h1 {
      font-size: 56px;
  }

  .MainHeader2 .header-content2 {
      width: 645px;
  }

  .MainHeader2 .header-content2 h1::before {
      width: 165px;
      height: 55px;
  }

  .MainHeader2 .header-content2 h2 {
      font-size: 34px;
  }

  .MainHeader2 .btn-primary {
      padding: 5px 20px;
      font-size: 14px;
  }
}

@media (max-width:1024px) {

  .MainHeader2 .header-content2 h1 {
      font-size: 50px;
  }

  .MainHeader2 .header-content2 h1::before {
      width: 153px;
      height: 49px;
  }

  .MainHeader2 .header-content2 h2 {
      font-size: 30px;
  }

  .MainHeader2 .header-content2 {
      width: 585px;
  }
}

@media (max-width:800px) {
  .MainHeader2 .header-content2 h1 {
      font-size: 42px;
  }

  .MainHeader2 .header-content2 h1::before {
      width: 130px;
      height: 39px;
  }

  .MainHeader2 .header-content2 h2 {
      font-size: 28px;
  }

  .MainHeader2 .btn-primary {
      margin: 0;
  }

  .MainHeader2 .header-content2 {
      width: 545px;
  }
}

@media (max-width:768px) {}

@media (max-width:767px) {
  .MainHeader2 .header-content2 h1 {
      font-size: 35px;
  }

  .MainHeader2 .header-content2 {
      width: 485px;
  }

  .MainHeader2 .header-content2 h1::before {
      width: 121px;
      height: 32px;
  }

  .MainHeader2 .header-content2 h2 {
      font-size: 26px;
  }
}

@media (max-width:480px) {
  .MainHeader2 {
      min-height: 100vh;
      background-image: url(/images/main-bg-2-xsm.jpg)!important;
      background-size: 100%;
  }

  .MainHeader2 .header-content2 {
      padding-left: 15px;
      padding-right: 15px;
      transform: translate(0, 0);
      bottom: 80px;
  }

  .MainHeader2 .header-content2 p {
      font-size: 14px;
  }

  .MainHeader2 .header-content2 {
      width: 100%;
  }
}

@media (max-width:425px) {
  .MainHeader2 .header-content2 h1 {
      font-size: 32px;
  }

  .MainHeader2 .header-content2 h2 {
      font-size: 24px;
  }

  .MainHeader2 .header-content2 h1::before {
      width: 113px;
      height: 29px;
  }
}


.section-features {
  padding: 30px 0 10px 0;
  font-size: 16px;
  color: #282828;
  background-color: #f9f9f9;
}

.section-features .section-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-features .section-title h2 {
  font-size: 40px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.section-features .section-title .bar {
  background: #0038ba;
  border-radius: 3px;
  height: 4px;
  margin: 20px auto;
  position: relative;
  width: 50px;
}

.section-features .section-title p {
  margin: 0 auto;
  max-width: 520px;
}

.section-features .single-features {
  background: #fff;
  border-radius: 5px;
  margin-bottom: 30px;
  padding: 25px;
  position: relative;
  transition: .5s;
  font-size: 14px;
  border: solid 1px #f3f0f0;
}

.section-features .single-features .icon {
  background: #0038ba;
  border-radius: 50%;
  color: #fff;
  height: 65px;
  width: 65px;
  line-height: 65px;
  text-align: center;
  transition: .5s;
}

.section-features .single-features .icon img {
  width: 38px;
  height: 38px;
}

.section-features .single-features:hover {
  box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .08);
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px)
}

.section-features .single-features h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.section-features .single-features p {
  margin: 0;
}


@media (max-width:767px) {
  .section-features {
      padding: 30px 0 15px 0;
  }

  .section-features .section-title h2 {
      font-size: 32px;
      margin-bottom: 0;
      text-transform: capitalize;
  }

  .section-features .section-title {
      margin-bottom: 30px;
  }

  .section-features .section-title .bar {
      background: #0038ba;
      border-radius: 3px;
      height: 3px;
      margin: 15px auto;
      position: relative;
      width: 35px;
  }

  .section-features .section-title p {
      max-width: 100%;
      font-size: 14px;
  }

  .section-features .single-features {
      margin-bottom: 15px;
      padding: 20px;
  }

  .section-features .single-features:hover {
      box-shadow: 0 2px 30px 0 rgba(0, 0, 0, .08);
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

  .section-features .single-features h3 {
      font-size: 18px;
  }

  .section-features .single-features .icon {
      height: 55px;
      width: 55px;
      line-height: 55px;
  }

  .section-features .single-features .icon img {
      width: 34px;
      height: 34px;
  }

  .section-features .single-features p {
      font-size: 13px;
  }
}

.section-Services {
  padding: 30px 0;
  font-size: 16px;
  color: #282828;
}

.section-Services .r-image img {
  width: 100%;
  height: auto;
}

.section-Services .ss-box {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, .08);
  display: block;
  margin-top: 30px;
  padding: 12px;
  font-size: 15px;
  position: relative;
  transition: .5s;
  z-index: 1;
}

.section-Services .ss-box:hover {
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, .06);
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px)
}

.section-Services .ss-box img {
  width: 34px;
  height: 34px;
}

.section-Services .section-title {
  text-align: left;
}

.section-Services .section-title h2 {
  font-size: 40px;
  margin-bottom: 0;
  text-transform: capitalize;
}

.section-Services .section-title .bar2 {
  background: #0038ba;
  border-radius: 3px;
  height: 3px;
  margin: 20px 0;
  position: relative;
  width: 40px;
}


@media (max-width:767px) {
  .section-Services {
      font-size: 14px;
  }

  .section-Services .section-title {
      margin-bottom: 30px;
  }

  .section-Services .section-title h2 {
      font-size: 32px;
  }

  .section-Services .section-title .bar2 {
      height: 3px;
      margin: 15px 0;
      width: 30px;
  }

  .section-Services .ss-box {
      margin-top: 15px;
      font-size: 14px;
  }

  .section-Services .ss-box:hover {
      -webkit-transform: translateY(0);
      transform: translateY(0)
  }

  .section-Services .ss-box img {
      width: 30px;
      height: 30px;
  }
}


.blog-section {
  padding: 30px 0;
  font-size: 16px;
  font-weight: 300;
  color: #282828;
}

.blog-section .blockquote-12 {
  position: relative;
  font-size: 30px;
  margin-top: 20px;
  padding: 20px 0px 0px 50px;
  font-weight: 600;
  line-height: normal;
  font-family: var(--font-primary);
}

.blog-section .blockquote-12 span {
  font-weight: normal;
  opacity: 0.5;
  display: block;
  margin-top: 15px;
  font-size: 20px;
  letter-spacing: 1.5px;
}

.blog-section .blockquote-12:before {
  content: "“";
  display: block;
  position: absolute;
  top: -35px;
  left: 0px;
  font-size: 160px;
  line-height: 1;
  font-family: 'Arial Black', Helvetica, Arial, sans-serif;
  color: #eee;
  z-index: -1;
}

.blog-section .blockquote-6 {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  line-height: normal;
  font-family: var(--font-primary);
  padding: 10px 0px 0px 40px;
}

.blog-section .blockquote-6:before {
  content: "“";
  display: block;
  position: absolute;
  top: -30px;
  left: 0px;
  font-size: 118px;
  line-height: 1;
  font-family: 'Arial Black', Helvetica, Arial, sans-serif;
  color: #eee;
  z-index: -1;
}

.block-quote {
  font-size: 18px;
  line-height: 1.56;
  padding: 50px 50px 50px 50px;
  font-weight: 500;
  display: block;
  position: relative;
  background-color: #F0F0F4;
  overflow: hidden;
  margin: 20px 0;
  font-style: italic;
  border-left: 3px solid #0038ba;
  color: #282828;
  border-radius: 5px;
}

.block-quote::before {
  position: absolute;
  right: 40px;
  bottom: 40px;
  font-weight: 600;
  opacity: 1;
  line-height: 3.8rem;
  color: rgba(0, 56, 186, 0.15);
  font-style: normal;
  content: "”";
  font-size: 140px;
  font-family: 'Arial Black', Helvetica, Arial, sans-serif;
}

.block-quote p {
  font-size: inherit;
  font-family: inherit;
  margin-top: -0.3em;
  margin-bottom: 18px;
  line-height: inherit;
  color: inherit;
  width: 100%;
  position: relative;
  z-index: 3;
}

.block-quote span {
  display: block;
  font-size: 18px;
  position: relative;
  border-color: inherit;
  line-height: 1;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: -0.1em;
  font-style: normal;
  padding-left: 50px;
  margin-left: 10px;
}

.block-quote span::before {
  content: "";
  height: 2px;
  width: 50px;
  background-color: #0038ba;
  position: absolute;
  bottom: 9px;
  left: -10px;
}

@media (max-width:767px) {
  .blog-section {
      font-size: 14px;
  }

  .blog-section .blockquote-12 {
      font-size: 24px;
      margin-top: 20px;
      padding: 15px 0px 0px 45px;
  }

  .blog-section .blockquote-12:before {
      top: -30px;
      left: -5px;
      font-size: 145px;
  }

  .blog-section .blockquote-12 span {
      margin-top: 10px;
      font-size: 16px;
  }

  .blog-section .blockquote-6:before {
      top: -17px;
      font-size: 100px;
  }

  .block-quote {
      font-size: 16px;
      padding: 40px 20px 40px 20px;
  }

  .block-quote span {
      font-size: 14px;
  }

  .block-quote::before {
      right: 20px;
      bottom: 10px;
      font-size: 120px;
  }
}

.box-items-section {
  padding: 30px 0 0 0;
}

.box-item {
  padding: 30px 30px;
  border-radius: 10px;
  margin-bottom: 30px;
  color: #7D6E9B;
  background: rgba(144, 19, 254, 0.06);
}

.box-item .item-icon {
  border-radius: 50%;
  padding: 15px;
  height: 60px;
  width: 60px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  margin-bottom: 25px;
}

.box-item .item-icon img {
  width: 28px;
  height: 28px;
}

.box-item .item-icon {
  background-color: transparent;
  background-image: linear-gradient(180deg, #E08BFC 0%, #7357FB 180%);
  box-shadow: 0 15px 30px 0 rgba(101, 0, 0, .08);
}

.box-item h3 {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 22px;
}

.box-item p {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 0;
}

.item-bg2 {
  color: #707DAC;
  background: rgba(43, 98, 201, 0.06);
}

.item-bg2 .item-icon {
  background-color: transparent;
  background-image: linear-gradient(180deg, #00AEEF 0%, #0F5EC9 180%);
  box-shadow: 0 15px 30px 0 rgba(0, 14, 101, .08);
  color: #707DAC;
}

.item-bg3 {
  color: #637595;
  background: rgba(0, 130, 255, 0.06);
}

.item-bg3 .item-icon {
  background-color: transparent;
  background-image: linear-gradient(180deg, #24EEFC 0%, #236DFC 180%);
  box-shadow: 0 15px 30px 0 rgba(16, 0, 101, .08);
}

.item-bg4 {
  color: #866E7D;
  background: rgba(233, 79, 68, 0.06);
}

.item-bg4 .item-icon {
  background-color: transparent;
  background-image: linear-gradient(180deg, #FF6167 0%, #FF0E27 180%);
  box-shadow: 0 15px 30px 0 rgba(101, 0, 0, .08);
}

.item-bg5 {
  color: #607E70;
  background: rgba(26, 188, 156, 0.06);
}

.item-bg5 .item-icon {
  background-color: transparent;
  background-image: linear-gradient(180deg, #00E31D 0%, #00C0CE 180%);
  box-shadow: 0 15px 30px 0 rgba(0, 101, 6, .08);
}

.item-bg6 {
  color: #897C66;
  background: rgba(245, 166, 35, 0.06);
}

.item-bg6 .item-icon {
  background-color: transparent;
  background-image: linear-gradient(180deg, #FAE000 0%, #F2557A 180%);
  box-shadow: 0 15px 30px 0 rgba(101, 76, 0, .08);
}

@media (max-width:767px) {
  .box-item h3 {
      font-size: 20px;
      margin-bottom: 10px;
  }

  .box-item p {
      font-size: 14px;
  }

  .box-item {
      margin-bottom: 15px;
      padding: 20px;
  }

  .box-item .item-icon {
      height: 50px;
      width: 50px;
      margin-bottom: 20px;
  }

  .box-items-section {
      padding: 20px 0 0 0;
  }

  .box-item .item-icon img {
      width: 24px;
      height: 24px;
  }
}

.bg-light-color {
  background-color: #f9f9f9;
}

.btn-primary {
  padding: 7px 25px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  border: solid 1px #0038ba;
  background: linear-gradient(90deg, #1e54d3 0, #0038ba 100%);
  color: #fff;
  margin-top: 10px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
  border-radius: 24px;
  width: fit-content;
}

.btn-primary:hover,
.btn-primary:focus {
  color: #fff;
  background: linear-gradient(90deg, #1e54d3 0, #0038ba 100%);
  border: solid 1px #0038ba;
  text-decoration: none;
}

.section-img-content {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-img-content .l-images {}

.section-img-content .l-images img {
  width: 100%;
  height: auto;
}

.pdl-50 {
  padding-left: 50px;
}

.pdr-50 {
  padding-right: 50px;
}

.section-img-content h2 {
  font-size: 40px;
  font-weight: 600;
  position: relative;
  line-height: normal;
  color: #0038ba;
}

.section-img-content .heading-desc {
  font-size: 20px;
  margin-top: 12px;
  margin-bottom: 15px;
}

.section-img-content p {
  font-size: 16px;
}

.section-img-content ul {
  padding: 0;
  margin: 10px 0 0 0;
  list-style: none;
}

.section-img-content ul li {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 16px;
  position: relative;
  padding-left: 40px;
}

.section-img-content ul li:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0px;
  width: 25px;
  height: 25px;
  background-image: url(/images/circle-check-solid.svg);
  background-position: center center;
  background-size: auto;
}

@media (max-width:992px) {
  .pdl-50 {
      padding-left: 0;
  }

  .pdr-50 {
      padding-right: 0px;
  }

  .section-img-content .l-images {
      text-align: center;
      padding-top: 20px;
  }

  .section-img-content .l-images img {
      width: 80%;
  }

  .column-reverse {
      flex-direction: column-reverse;
  }
}

@media (max-width:767px) {
  .section-img-content h2 {
      font-size: 32px;
  }

  .section-img-content .heading-desc {
      font-size: 18px;
  }

  .section-img-content ul li,
  .section-img-content p {
      font-size: 14px;
  }

  .section-img-content ul li {
      margin-top: 15px;
      margin-bottom: 8px;
      padding-left: 30px;
  }

  .section-img-content ul li:before {
      width: 20px;
      height: 20px;
  }

  .btn-primary {
      padding: 5px 20px;
      font-size: 14px;
  }
}

@media (max-width:480px) {
  .section-img-content .l-images img {
      width: 100%;
  }
}

.section-spdb {
  padding: 30px 0;
}

.align-center {
  text-align: center;
}

.section-spdb .heading .heading-sub {
  font-weight: 400;
  color: #0038ba;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
}

.section-spdb .heading .heading-title {
  font-size: 40px;
  line-height: 1.25;
  font-weight: 600;
  position: relative;
  z-index: 0;
  margin-top: 12px;
}

.section-spdb .icon-box .number {
  font-size: 60px;
  line-height: 1.11;
  color: #0038ba;
  margin-bottom: 30px;
}

.section-spdb .title {
  font-size: 24px;
  line-height: 1.3;
  font-weight: 600;
}

.section-spdb .icon-box .desc {
  margin-top: 16px;
}

@media (max-width:767px) {
  .section-spdb .heading .heading-title {
      font-size: 32px;
  }

  .section-spdb .icon-box {
      margin-bottom: 30px;
  }

  .section-spdb .icon-box .number {
      font-size: 50px;
      margin-bottom: 10px;
  }

  .section-spdb .title {
      font-size: 22px;
  }

  .section-spdb .icon-box .desc {
      margin-top: 5px;
  }
}



.section-counter {
  padding: 30px 0;
}

.section-counter .counter-box {
  padding: 40px 0;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
}

.section-counter .counter-box .counter-number {
  font-size: 46px;
  line-height: 1.11;
  margin-bottom: 6px;
  color: #0038ba;
}

.section-counter .counter-box .title-counter {
  font-size: 16px;
}

.section-counter .counter-box:hover {
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.08);
}

@media (max-width:800px) {
  .section-counter .counter-box {
      margin-bottom: 30px;
      padding: 30px 0;
  }

  .section-counter {
      padding-bottom: 0;
  }
}

@media (max-width:767px) {
  .section-counter {
      padding-bottom: 15px;
  }

  .section-counter .counter-box {
      margin-bottom: 15px;
  }

  .section-counter .counter-box .counter-number {
      font-size: 38px;
  }

  .section-counter .counter-box .title-counter {
      font-size: 14px;
  }
}
.MainHeader1 {
  color: #fff;
  width: 100%;
  height: 100vh;
  background-image: url(/images/main-bg-2.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  background-color: #000;
  position: relative;
}

.MainHeader1 .header-content1 {
  position: absolute;
  bottom: 50%;
  left: 0;
  transform: translate(0, 50%);
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  text-align: left;
  display: table;
  z-index: 5;
  padding-left: 20px;
  width: 652px;
}

.MainHeader1 .header-content1 h1 {
  font-size: 70px;
  line-height: 1;
  position: relative;
  color: #fff;
  background-color: #0038ba;
  display: inherit;
}

.MainHeader1 .header-content1 h1::before {
  display: ;
}

.MainHeader1 .header-content1 h2 {
  font-size: 42px;
  font-weight: 500;
  line-height: 1;
}

.MainHeader1 .header-content1 h3 {
  font-size: 38px;
  font-weight: 300;
  line-height: 1;
  opacity: 0.6;
}

.MainHeader1 .header-content1 p {
  font-size: 18px;
  font-weight: 300;
}

.MainHeader1 .R-scrolldown {
  right: 35px;
  left: auto;
}

.MainHeader1 .btn-primary {
  padding: 7px 25px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  border: solid 1px #0038ba;
  background: linear-gradient(90deg, #1e54d3 0, #0038ba 100%);
  color: #fff;
  margin-top: 10px;
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  cursor: pointer;
  border-radius: 24px;
  width: fit-content;
  text-transform: uppercase;
}

.MainHeader1 .btn-primary:hover,
.MainHeader1 .btn-primary:focus {
  color: #fff;
  background: linear-gradient(90deg, #1e54d3 0, #0038ba 100%);
  border: solid 1px #0038ba;
  text-decoration: none;
}

@media (max-width:1366px) {
  .MainHeader1 .header-content1 h1 {
      font-size: 62px;
  }

  .MainHeader1 .header-content1 h2 {
      font-size: 36px;
  }

  .MainHeader1 .header-content1 h3 {
      font-size: 32px;
  }

  .MainHeader1 .header-content1 p {
      font-size: 16px;
  }

  .MainHeader1 .header-content1 {
      width: 598px;
  }
}



@media (max-width:1024px) {

  .MainHeader1 .header-content1 h1 {
      font-size: 50px;
  }

  .MainHeader1 .header-content1 h2 {
      font-size: 30px;
  }

  .MainHeader1 .header-content1 h3 {
      font-size: 25px;
  }

  .MainHeader1 .header-content1 {
      width: 585px;
  }
}

@media (max-width:800px) {
  .MainHeader1 .header-content1 h1 {
      font-size: 42px;
  }

  .MainHeader1 .header-content1 h1::before {
      width: 130px;
      height: 39px;
  }

  .MainHeader1 .header-content1 h2 {
      font-size: 28px;
  }

  .MainHeader1 .header-content1 h3 {
      font-size: 24px;
  }

  .MainHeader1 .btn-primary {
      margin: 0;
  }

  .MainHeader1 .header-content1 {
      width: 545px;
  }
}


@media (max-width:767px) {
  .MainHeader1 .header-content1 h1 {
      font-size: 35px;
  }

  .MainHeader1 .header-content1 {
      width: 425px;
  }

  .MainHeader1 .header-content1 h2 {
      font-size: 26px;
  }
}

@media (max-width:480px) {
  .MainHeader1 {
      min-height: 100vh;
      background-image: url(/images/main-bg-2-xsm.jpg);
      background-size: 100%;
  }

  .MainHeader1 .header-content1 {
      padding-left: 15px;
      padding-right: 15px;
      transform: translate(0, 0);
      bottom: 40px;
  }

  .MainHeader1 .header-content1 p {
      font-size: 14px;
  }

  .MainHeader1 .header-content1 {
      width: 100%;
  }
}

@media (max-width:425px) {
  .MainHeader1 .header-content1 h1 {
      font-size: 32px;
  }

  .MainHeader1 .header-content1 h2 {
      font-size: 24px;
  }

  .MainHeader1 .header-content1 h3 {
      font-size: 20px;
  }

  .MainHeader1 .header-content1 h1::before {
      width: 113px;
      height: 29px;
  }
}
.section-app {
  padding: 3.125rem 0 2.5rem 0;
  font-size: 0.9375rem;
  color: #282828;
  background-image: url(/images/app-bg-map.jpg);
  background-position: top center;
}

.section-app .top-section-app {
  text-align: center;
}

.section-app .top-section-app h2 {
  font-size: 3.4375rem;
  line-height: 1;
  margin-bottom: 0.9375rem;
}

.section-app .top-section-app h2 span {
  font-size: 1.375rem;
  display: block;
}

.section-app .top-section-app p {
  margin: 0 auto 0.625rem auto;
}

.section-app .img-responsive {
  width: 100%;
  height: auto;
  display: inline-block;
}

.section-app .app-icon {
  height: 3.75rem;
  width: 3.75rem;
  display: inline-block;
  margin-bottom: 0.9375rem;
  margin-top: 0.9375rem;
}

.section-app .left-side-app,
.section-app .right-side-app {
  padding-top: 4.375rem;
  text-align: center;
}

.section-app h3 {
  font-size: 1.75rem;
  line-height: 1;
  margin-bottom: 0.9375rem;
}

@media (max-width:64rem) {
  .section-app {
      padding: 1.875rem 0 1.25rem 0;
  }

  .section-app .top-section-app h2 {
      font-size: 3.125rem;
  }

  .section-app h3 {
      font-size: 1.5625rem;
  }

  .section-app .app-icon {
      height: 3.125rem;
      width: 3.125rem;
  }
}

@media (max-width:61.9375rem) {
  .section-app {
      font-size: 0.875rem;
  }

  .section-app .top-section-app h2 {
      font-size: 2.625rem;
  }

  .section-app .top-section-app h2 span {
      font-size: 1.25rem;
  }

  .section-app .left-side-app,
  .section-app .right-side-app {
      padding-top: 0;
  }

  .section-app .img-responsive {
      max-width: 23.75rem;
      margin: auto;
      display: block;
  }
}

@media (max-width:47.9375rem) {
  .section-app .top-section-app h2 {
      font-size: 2.1875rem;
  }

  .section-app h3 {
      font-size: 1.5rem;
  }

  .section-app .img-responsive {
      max-width: 20.625rem;
  }

  .section-app .app-icon {
      height: 2.5rem;
      width: 2.5rem;
  }
}

@media (max-width:26.5625rem) {
  .section-app .img-responsive {
      max-width: 18.75rem;
  }
}
.section-testimonial{
  padding: 30px 0;
  font-size: 16px;
  color: #282828; 
}
.section-testimonial h2{
  font-size: 52px; line-height: 1; 
}
.section-testimonial h3{
  font-size: 28px; 
  line-height: 1; 
  opacity: 0.65; 
  font-weight: 400;
}
.section-testimonial blockquote {
          position: relative;
          font-size: 22px;  
           letter-spacing: 0.5px;
           line-height: normal;
           margin-top: auto; margin: auto;
}
.section-testimonial blockquote q {
  margin-bottom: 15px;
 
}
.section-testimonial blockquote cite{
  color: #0038ba; 
  font-size: 16px;
  display: block;
  margin-top: 20px;
}
.section-testimonial blockquote span{
  font-size: 14px; opacity: 0.8;
}

.section-testimonial .testimonial-arrow{
display: flex;
position: absolute; bottom: 0; left: 15px;
z-index: 30;

}
.section-testimonial .Block-prev {
margin-right: 15px; 
}
.section-testimonial .Block-next i, .section-testimonial .Block-prev i {  
font-size: 15px; 
} 
.section-testimonial .Block-next, .section-testimonial .Block-prev {      
color: #0038ba;  
align-items: center; 
border: 2px solid;
border-radius: 100%;     
justify-content: center; vertical-align: middle;
text-align: center;
height: 36px;
width: 36px; 
line-height: 36px;
}
.section-testimonial .testimonial-img{
border-radius: 12px;
width: 100%;
height: auto;
} 
.testimonial-d-flex{
display: flex;
}
@media (max-width:1024px) {
.section-testimonial h2 {  
font-size: 42px;
}
.section-testimonial blockquote {  
font-size: 20px;
}
}
@media (max-width:991px) {
.section-testimonial h2 { 
font-size: 32px; margin-bottom:8px;
} 
.section-testimonial h3 { 
margin-bottom:15px;
font-size: 22px;
} 
}
@media (max-width:767px) {
.section-testimonial h2{ 
  font-size: 28px; 
}
.section-testimonial h3 {  
font-size: 20px;
} 
.section-testimonial .testimonial-img {
margin-bottom:15px;
}
.testimonial-d-flex{
display: block;
}
.section-testimonial .testimonial-arrow { 
position: relative;
bottom: auto;
left: auto; 
display: inline-block;
width: 100%;
margin:  15px auto 0 auto; 
text-align: center;
}
.section-testimonial blockquote {
font-size: 16px;
} 
.section-testimonial blockquote cite{
font-size: 14px; margin-bottom: 5px; margin-top: 10px;
}
.section-testimonial .Block-next, .section-testimonial .Block-prev { 
display: inherit;
}
}