@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
 
:root {
    --bs-font-sans-serif: 'Jost', sans-serif;
    --bs-body-font-family: 'Roboto', sans-serif; 
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #293240;
    --bs-body-bg: #F0F6FA;
    --bs-primary: #3c5980;
    --bs-primary-rgb: 60, 89, 128;
    --bs-secondary: #ed6b4d;
    --bs-secondary-rgb: 237, 107, 77;
    --bs-body-color-rgb: 41, 50, 64;
    --shadow-rgba: rgba(0, 0, 0, .15);
    --bs-white: #fff;

    --border-radius: 1.875rem;
    --primary-font-weight: 500;
    --section-padding-set:2.5rem;
    --heading-01:3.4375rem;
    --heading-02:2.8125rem;

}


.section-padding-set{
    padding-top: var(--section-padding-set);
    padding-bottom: var(--section-padding-set);
}
.subheader-pt{
    padding-top:4.375rem !important;
}

@media (max-width:85.5rem) {  
    :root {
        --heading-01:3.125rem;
        --heading-02:2.5rem;
    }
    .subheader-pt {
        padding-top: 3.75rem !important;
    }
} 
@media (max-width:80rem) {  
    :root {
    --heading-01:2.8125rem;
    --heading-02:2.375rem;
    --section-padding-set: 1.875rem !important;
    }
} 
@media (max-width:64rem) {  
    :root {
    --heading-01:2.375rem;
    --heading-02:1.875rem; 
    }
} 
@media (max-width:61.9375rem) {  
    :root {
    --heading-01:2rem;
    --heading-02:1.5625rem; 
    --section-padding-set: 1.5625rem !important;
    }
    .subheader-pt {
        padding-top: 3.1875rem !important;
    }
} 
@media (max-width:47.9375rem) {  
    :root {
    --heading-01:1.875rem;
    --heading-02:1.5rem;  
    }
} 
@media (max-width:25.875rem) {  
    :root {
    --heading-01:1.75rem;
    }
} 
@media (max-width:23.4375rem) {  
    :root {
    --heading-01:1.625rem;
    --heading-02:1.5rem;  
    }
} 

body {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    letter-spacing: 0.0625rem;
    font-size: 0.875rem;
}
p{font-size: var(--bs-body-font-size);}
.btn.disabled,
.btn:disabled,
fieldset:disabled .btn {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    opacity: 0.5;
}

.btn,
.btn:hover,
.btn:focus,
.btn:active {
    border-radius: var(--border-radius);
    outline: none !important;
    box-shadow: none !important;
}

.btn-primary,
.btn {
    font-size: 1rem;
    padding: 0.75rem 1.75rem;
    line-height: 1;
    background-color: transparent;
    border: solid 0.0625rem var(--bs-secondary); 
    font-weight: var(--primary-font-weight);
    font-family: var(--bs-font-sans-serif);
    text-transform: uppercase; 
}


.btn-primary:hover,
.btn-primary:focus {
    border: solid 0.0625rem var(--bs-secondary)!important;
    box-shadow: none;
    background-color: var(--bs-secondary) !important;
    color: #fff !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    font-family: var(--bs-font-sans-serif);
    letter-spacing: 0.0625rem;
    margin: 0;
    font-weight: var(--primary-font-weight);
    letter-spacing: normal; 
    text-transform: uppercase;
}

.form-label {
    margin-bottom: 0.5rem;
    font-size: 0.8125rem;
}


input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

.form-group {
    margin-bottom: 0.625rem;
}

.form-control,
.form-control:focus,
.form-select {
    outline: none !important;
    box-shadow: none !important;
    background-color: #fff;
    border: 0.0625rem solid #c3c3c3;
    resize: none;
    font-size: 0.875rem;
    height: 2.625rem;
}

.form-control,
.form-control:focus,
.form-select {
    outline: none !important;
    box-shadow: none !important;
    border-radius: var(--border-radius);
    resize: none;
}

.form-control:focus,
.form-select:focus {
    border: 0.0625rem solid var(--bs-secondary) !important;
}

::placeholder {
    color: #7d7d7d !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #7d7d7d !important;
}

::-ms-input-placeholder {
    color: #7d7d7d !important;
}

.invalid-feedback {
    margin-top: 0.3125rem;
    padding-bottom: 0.3125rem;
}

strong {
    font-weight: var(--primary-font-weight);
}

main {
    position: relative;
    /* padding-top: 3.75rem; */
}

.dropify-wrapper {
    max-width: 100%;
    height: 6.5625rem !important;
    border: 0.0625rem solid #c3c3c3;
    border-radius: var(--border-radius);
}
.dropify-wrapper.touch-fallback .dropify-message { 
    padding: 0.625rem 0 !important;
}
.dropify-wrapper .dropify-message p {
    font-size: 0.75rem; font-family: var(--bs-font-sans-serif) !important;
}


.select-btn-check {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.select-btn-check .btn {
    width: 48%;
}

.select-btn-check .btn {
    background-color: #fff;
    border: solid 0.0625rem #d7d7d7;
    color: #9a9a9a;

}

.select-btn-check .btn-check:checked+.btn,
.select-btn-check .btn.active,
.select-btn-check .btn.show,
.select-btn-check .btn:first-child:active,
.select-btn-check:not(.btn-check)+.btn:active {
    background-color: #E7F2EE;
    border: solid 0.0625rem #E7F2EE;
    color: var(--bs-primary);
}

.select-btn-check .btn-check+.btn:hover {
    background-color: var(--bs-primary);
    color: #fff;
}

.pagination{
    margin: 1.875rem auto 0rem auto;
}

.pagination .active>.page-link,
.page-link.active {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #fff;
}

.pagination .page-link {
    color: var(--bs-primary);
    font-size: 0.875rem;
    border-radius: var(--border-radius);
    background-color: transparent;
    padding: 0;
    height: 2.1875rem;
    min-width: 2.1875rem;
    text-align: center;
    line-height: 2.125rem;
    letter-spacing: normal;
}

.pagination .page-link svg {
    height: 1.625rem;
    width: 1.625rem; 
}

.pagination .page-link:hover,
.pagination .page-link:focus {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
    color: #fff;
    outline: none !important;
    box-shadow: none;
}

.pagination .page-item {
    padding: 0 0.3125rem;
}

.pagination .page-item:last-child .page-link,
.pagination .page-item:first-child .page-link {
    border: none !important;
}
.pagination .page-item:last-child .page-link:hover, .pagination .page-item:last-child .page-link:focus, 
.pagination .page-item:first-child .page-link:hover, .pagination .page-item:first-child .page-link:focus{
    background-color: transparent !important;
    border-color:  transparent !important;  
    color: var(--bs-secondary) !important;
}

figure {
    margin-bottom: 0;
}
.form-check-input:checked{
    background-color: var(--bs-secondary);
    border-color:var(--bs-secondary);
}



/**********  sub header   **********/

.subheader {
    overflow: hidden;
    width: 100%;
    background-image: url(/images/blog-bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    background-color: var(--bs-primary);
    color: #fff;
    min-height: 21.875rem;
    z-index: 1; 
}

.subheader::after {
    content: "";
    display: block;
    width: 101%;
    height: 101%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: linear-gradient(to bottom, var(--bs-primary) 30%, rgba(21, 28, 38, 1));
    opacity: 0.9;
    z-index: -1;
}

.subheader h1 {
    font-size: var(--heading-01);
    line-height: 1;
}

.subheader h1 span {
    color: var(--bs-secondary);
}

.subheader .subheader-p-text {
    font-size: 1.125rem;
    margin-top: 3.4375rem;
    position: relative;
    padding-left: 2.8125rem;
    margin-bottom: 0;
}

.subheader .subheader-p-text::after {
    content: "";
    display: block;
    width: 1.5rem;
    height: 0.0625rem;
    position: absolute;
    top: 0.75rem;
    left: 0;
    background-color: var(--bs-secondary);
}

@media (max-width:85.5rem) {
.subheader .subheader-p-text {
    font-size: 1rem; 
}
}

@media (max-width:50rem) {
    .subheader { 
        min-height: 17.1875rem; 
    }
    .subheader .subheader-p-text {
        font-size: 0.875rem; 
        margin-top: 1.5625rem;
    }
}
@media (max-width:47.9375rem) {
.subheader .subheader-p-text {
    margin-top: 1.125rem;
}
.subheader .subheader-p-text::after { 
    width: 1rem; 
    top: 0.625rem;
}
.subheader .subheader-p-text { 
    padding-left: 2.375rem; 
}
}
@media (max-width:20rem) {
.subheader .subheader-p-text {
    font-size: 0.8125rem; 
}
}
/**********  sub header   **********/












.pr-0 {
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.pt-5 {
    padding-top: 0.3125rem !important;
}

.pb-5 {
    padding-bottom: 0.3125rem !important;
}

.pt-10 {
    padding-top: 0.625rem !important;
}

.pb-10 {
    padding-bottom: 0.625rem !important;
}

.pt-15 {
    padding-top: 0.9375rem !important;
}

.pb-15 {
    padding-bottom: 0.9375rem !important;
}

.pt-20 {
    padding-top: 1.25rem !important;
}

.pb-20 {
    padding-bottom: 1.25rem !important;
}

@media (max-width:85.5rem) {
    main {
 
    }
}
 

@media (max-width:47.9375rem) {
    .pagination .page-link svg {
        height: 1.125rem;
        width: 1.125rem;
    }
    .pagination .page-link { 
        font-size: 0.8125rem; 
        height: 2rem;
        min-width: 2rem; 
        line-height: 1.9375rem; 
    }
}