<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>DottScale</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,600,700,800" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link href="admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="admin/css/style.css" rel="stylesheet">
    <link href="admin/css/login-style.css" rel="stylesheet">
    <link href="admin/css/dottscale-theme.css" rel="stylesheet">
</head>
<body class="bg_main">
    <div id="wrapper" class="EbobBGImg">
        <div class="log_con">
            <div class="container">
                <img class="Loging-Logo" src="/images/dottscale-logo-alt.png" alt="DottScale" />
                <div class="table-struct full-width">
                    <div class="table-cell vertical-align-middle auth-form-wrap">
                        <div class="auth-form">
                            <div class="row m-0">
                                <div class="col-md-12 col-height">
                                    <div class="login-right">
                                        <div class="log-form">
                                            <div style="width: 310px; margin: auto">
                                                <h3 class="mb-20">LOG <span>IN</span></h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Log_footer">Copyright © 2026 DottScale. All rights reserved.</div>
            </div>
        </div>
    </div>
</body>
</html>
